In [451]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
from dateutil.parser import parse

welc = pd.read_csv('C:\\Users\\559816\\Documents\\Project 3\\Job-scrapping\\Selenium\\welcome_to_the_jungle_30_06_clean.csv')
apec = pd.read_csv('C:\\Users\\559816\\Documents\\Project 3\\Job-scrapping\\Selenium\\apec_24_06_24.csv')
link = pd.read_csv('C:\\Users\\559816\\Documents\\Project 3\\Job-scrapping\\Selenium\\linkedin_exctration_du_24_06.csv')
cadr = pd.read_csv('C:\\Users\\559816\\Documents\\Project 3\\Job-scrapping\\Selenium\\cadremploi_jobs 26-06.csv', encoding='Windows-1252', delimiter=';')
pole = pd.read_csv('C:\\Users\\559816\\Documents\\Project 3\\Job-scrapping\\Selenium\\pole_emploi_26_06.csv')

In [452]:
# Csv Welcome to the Jungle

welc.head()

,Poste,Entreprise,Localisation,Contrat,Description,Nom du site,Lien du site,Experience,Education,Competences,Salaire,Teletravail,Date de debut,Date de parution,Secteur d'activite
0,Alternance - Data/Business Analyst SFE Junior ...,BIOGARAN,Colombes,Alternance,"Au sein de la direction Export, vous travaille...",Welcome to the jungle,https://www.welcometothejungle.com/fr/companie...,> 6 mois,Bac +5 / Master,"Excel , Power bi",Non spécifié,Télétravail non autorisé,NaN,2024-06-30,"Pharmaceutique / Biotechnologique, Santé"
1,Data Analyst IA - Stage - H/F,DATALEON,Paris,Stage\n(2 mois),Tes missions :\nDévelopper des scripts Python ...,Welcome to the jungle,https://www.welcometothejungle.com/fr/companie...,< 6 mois,Bac +1,"Sql , Python",Non spécifié,Télétravail occasionnel,01 juillet 2024,2024-06-29,"Logiciels, Intelligence artificielle / Machine..."
2,Data Scientist Industrie 4.0 en alternance - P...,PSB - PARIS SCHOOL OF BUSINESS,Paris,Alternance,Contrat d'alternance basé à Paris et au sein d...,Welcome to the jungle,https://www.welcometothejungle.com/fr/companie...,< 6 mois,Bac +3,"Hadoop , Azure , Snowflake , Aws , Python",Non spécifié,Télétravail fréquent,NaN,2024-06-29,"Education, Formation"
3,Data Quality Operator en alternance - Paris,PSB - PARIS SCHOOL OF BUSINESS,Paris,Alternance,Contrat d'alternance basé à Paris et au sein d...,Welcome to the jungle,https://www.welcometothejungle.com/fr/companie...,< 6 mois,Bac +3,Sql,Non spécifié,Télétravail fréquent,NaN,2024-06-29,"Education, Formation"
4,ALT - DATA SCIENTIST / ACTUARIAT F/H,GENERALI FRANCE,Paris,Alternance\n(12 à 24 mois),Vos missions\n Le Generali Climate Lab est exp...,Welcome to the jungle,https://www.welcometothejungle.com/fr/companie...,> 6 mois,Bac +4,Python,Non spécifié,Télétravail non autorisé,NaN,2024-06-29,"Banque, Assurance, FinTech / InsurTech"

In [453]:
# Nettoyage initial de csv Apec

apec = apec.drop(columns = "Unnamed: 0")
apec = apec.rename(columns={'Expérience': 'Experience', 'Profil recherché' : 'Profil recherche'})

def remove_numbers_hyphens_from_end(s):
    if len(s) <= 7:
        return re.sub(r'[\d-]', '', s)
    else:
        # Split into two parts: everything except the last 7 characters, and the last 7 characters
        main_part = s[:-7]
        end_part = s[-7:]
        # Remove numbers and hyphens from the last 7 characters
        end_part = re.sub(r'[\d-]', '', end_part)
        # Combine the parts back together
        s = main_part + end_part
        s = s.strip()
        return s

# Apply the function to 'column1'
apec['Localisation'] = apec['Localisation'].apply(remove_numbers_hyphens_from_end)

def remove_numbers_from_start(s):
    if len(s) <= 3:
        return re.sub(r'^\d+', '', s)
    else:
        # Split into two parts: the first 3 characters and the rest of the string
        start_part = s[:3]
        main_part = s[3:]
        # Remove numbers from the first 3 characters
        start_part = re.sub(r'\d', '', start_part)
        # Combine the parts back together
        s = start_part + main_part
        s = s.strip()
        return s

# Apply the function to 'column1'
apec['Contrat'] = apec['Contrat'].apply(remove_numbers_from_start)

apec['Date de parution'] = apec['Date de parution'].str.replace('Publiée le ', '', regex=False)

apec.replace('A négocier', np.nan, inplace=True)

apec.head()

,Poste,Entreprise,Localisation,Contrat,Description,Nom du site,Lien du site,Experience,Salaire,Teletravail,Date de debut,Date de parution,Secteur d'activite,Descriptif de l'entreprise,Profil recherche
0,Data engineer,Datatorii,Paris,CDI,MissionVous effectuez des missions à forte val...,APEC,https://www.apec.fr/candidat/recherche-emploi....,Tous niveaux d'expérience acceptés,40 - 65 k€ brut annuel,NaN,Dès que possible,14/06/2024,CONSEIL EN SYSTÈMES ET LOGICIELS INFORMATIQUES,Datatorii est une société de conseil spécialis...,"Formation initialeBAC +5 (Ingénieur, mathémati..."
1,Data analyst,MYDRAL,Paris,CDI,Au sein d’une équipe d’expert basée en Ile de ...,APEC,https://www.apec.fr/candidat/recherche-emploi....,Minimum 2 ans,40 - 50 k€ brut annuel,NaN,Dès que possible,31/05/2024,CONSEIL EN SYSTÈMES ET LOGICIELS INFORMATIQUES,Rejoignez une société en pleine expansion dont...,Le profil recherché ?Idéalement diplômé(e) d’u...
2,Data analyst,BPI,Maisons-Alfort,CDI,Vos missions au service de l’économie français...,APEC,https://www.apec.fr/candidat/recherche-emploi....,Minimum 1 an,40 - 45 k€ brut annuel,NaN,Dès que possible,19/06/2024,AUTRE DISTRIBUTION DE CRÉDIT,"Bpifrance, une banque pas comme les autres\n\n...",Prêts à rejoindre notre équipe ?Votre profil :...
3,Data analyst,OPT'IN RECRUTEMENT,Montpellier,CDI,"OPT'IN recrute pour son client, une entreprise...",APEC,https://www.apec.fr/candidat/recherche-emploi....,Minimum 2 ans,35 - 45 k€ brut annuel,Partiel possible,Dès que possible,10/06/2024,COMMERCE D'ÉLECTRICITÉ,Situé au coeur de Montpellier et rayonnant sur...,Votre profil ?De formation Bac +4/5 (école d'i...
4,Data analyst,L'Opcommerce,Lille,CDI,Vous ne connaissez pas l'Opcommerce malgré not...,APEC,https://www.apec.fr/candidat/recherche-emploi....,Minimum 2 ans,37 - 45 k€ brut annuel,NaN,Dès que possible,19/06/2024,AUTRES ORGANISATIONS FONCTIONNANT PAR ADHÉSION...,L’Opcommerce est le partenaire Alternance-Comp...,Vous êtes diplômé.e d’un Bac+5 spécialisé dans...

In [454]:
# Nettoyage initial de csv LinkedIn

link = link.rename(columns={"Secteur d'activité": "Secteur d'activite"})

link['Contrat'] = link['Contrat'].str.replace('Temps plein', 'CDI', regex=False)
link['Contrat'] = link['Contrat'].str.replace('Contrat', 'CDI', regex=False)
link['Contrat'] = link['Contrat'].str.replace('Stage / Alternance', 'Alternance', regex=False)
link['Contrat'] = link['Contrat'].str.replace('Travail temporaire', 'CDD', regex=False)
link.replace('Autre', np.nan, inplace=True)

link["Nom du site"] = "LinkedIn"

link.head()

,Poste,Entreprise,Localisation,Contrat,Description,Nom du site,Lien du site,Experience,Competences,Date de parution,Secteur d'activite
0,AI/ML Developer,Novapulse AI,France,CDI,We are seeking a talented AI/ML Developer to j...,LinkedIn,https://fr.linkedin.com/jobs/view/ai-ml-develo...,Premier emploi,Ingénierie et Technologies de l’information,il y a 3 jours,"Technologie, information et Internet"
1,GRADUATE PROGRAM - REGENERATIVE AGRICULTURE & ...,Groupe VIVESCIA,Greater Reims Area,CDI,Description De L'entrepriseShape the Future of...,LinkedIn,https://fr.linkedin.com/jobs/view/graduate-pro...,Premier emploi,Gestion et Secteur industriel,il y a 6 jours,Agro-alimentaire
2,Junior WRTW Retail Merchandiser,Loewe,Paris,CDI,"About LOEWECreated in Spain in 1846, LOEWE app...",LinkedIn,https://fr.linkedin.com/jobs/view/junior-wrtw-...,Premier emploi,Responsable produit,il y a 3 jours,Commerce de détail d’habillement et d’accessoi...
3,DATA SCIENTIST,STATION F,Paris,CDI,AboutQui n'a pas utilisé au moins une fois Not...,LinkedIn,https://fr.linkedin.com/jobs/view/data-scienti...,Premier emploi,Ingénierie et Technologies de l’information,il y a 1 jour,"Technologie, information et Internet"
4,Data Scientist H/F,Kariera.fr,Bordeaux,CDI,Des hommes engagés dans le développement durab...,LinkedIn,https://fr.linkedin.com/jobs/view/data-scienti...,Premier emploi,Ingénierie et Technologies de l’information,il y a 5 jours,Services de ressources humaines

In [455]:
# Nettoyage initial de csv Cadremploi

cadr.columns = cadr.iloc[0]
cadr = cadr[1:]
cadr = cadr.reset_index(drop=True)

cadr['Contrat'] = cadr['Contrat'].str.replace('Apprentissage/Alternance', 'Alternance', regex=False)
cadr['Contrat'] = cadr['Contrat'].str.replace('Indépendant / Freelance', 'Freelance', regex=False)
cadr = cadr.rename(columns={'Lien du site': 'Nom du site'})


cadr.head()

,Poste,Entreprise,Localisation,Contrat,Description,Nom du site
0,Devops data f/h,RATP Dev,Paris,CDI,NaN,Cadremploi
1,Data Engineer (h/f),LHH Recruitment Solutions,Aix-en-Provence,CDI,"LHH Recruitment Solutions, cabinet de conseil ...",Cadremploi
2,Data Engineer F/H,CGI,Tours,CDI,"Big Data, Data Science, Data analyse, Data arc...",Cadremploi
3,Data Scientist H/F,ISAGRI,Pau,CDI,"VOS MISSIONS En tant que Data Scientist, votre...",Cadremploi
4,Data Manager H/F,Primeo Energie France,Münchenstein,CDI,Vos principales missions: - La gestion des flu...,Cadremploi

In [456]:
# Nettoyage initial de csv France Travail

pole = pole.drop(columns = ["Unnamed: 0", "id", "Temps de Travail", "alternance", "contact", "qualificationLibelle", "salaire" ])

pole = pole.rename(columns={'Date de Création': 'Date de parution', 'Origine de l’Offre': 'Lien du site', 'competences': 'Competences', 'salaire_bis': 'Salaire'})

pole['Competences'] = pole['Competences'].astype(str) + ', ' + pole['Qualités Profesionnelles'].astype(str)
pole['Competences'] = pole['Competences'].str.replace('0,', '', regex=False)

pole = pole[['Poste', 'Entreprise', 'Localisation', 'Contrat', 'Description', 'Nom du site', 'Lien du site', 'Experience', 'Education', 'Competences', 'Salaire']]

pole.replace(' 0', np.nan, inplace=True)
pole.replace('0', np.nan, inplace=True)
pole.replace('0, 0', np.nan, inplace=True)
pole.replace('{}', np.nan, inplace=True)

pole['Localisation'] = pole['Localisation'].str.replace(r'[\d-]+', '', regex=True)

pole.head()

,Poste,Entreprise,Localisation,Contrat,Description,Nom du site,Lien du site,Experience,Education,Competences,Salaire
0,Consultant BI / Data analyst (H/F),SYNANTO LYON,LYON,CDI,Développement des traitements (Jobs ETL) pour ...,France Travail,https://candidat.francetravail.fr/offres/reche...,4 An(s),"Bac+5 et plus ou équivalents, Bac+5 et plus ou...","Langages de programmation informatique, Busine...",Annuel de 42000 Euros à 44000 Euros sur 12 mois
1,Data Analyst (H/F),AMILTONE,VILLEURBANNE,CDI,Qui sommes-nous ?\n\nNous sommes passionnés pa...,France Travail,https://candidat.francetravail.fr/offres/reche...,Débutant accepté,NaN,"Application web, Concevoir une application web...",Annuel de 28000 Euros à 35000 Euros sur 12 mois
2,Chef de projets Data Analyst (H/F),CRAM ILE DE FRANCE-CRAMIF-,PARIS,CDI,La CRAMIF intervient sur plusieurs champs d'ac...,France Travail,https://candidat.francetravail.fr/offres/reche...,36 Mois,NaN,Adapter les outils de traitement statistique d...,Annuel de 38800 Euros à 40000 Euros sur 14 mois
3,Data Analyst H/F (H/F),PREREQUIS,NEUILLY SUR SEINE,CDI,Votre mission :\n\nVous participerez à la mise...,France Travail,https://candidat.francetravail.fr/offres/reche...,5 An(s),NaN,Adapter les outils de traitement statistique d...,Annuel de 35000.00 Euros à 70000.00 Euros sur ...
4,Data analyst (F/H),EXPECTRA,Nanterre,MIS,Vous êtes chargé de prendre en considération d...,France Travail,https://candidat.francetravail.fr/offres/reche...,4 An(s),"Bac+3, Bac+4 ou équivalents",Adapter les outils de traitement statistique d...,Annuel de 50000 Euros sur 12 mois

In [457]:
# Concatenate dataframes

df = pd.concat([welc, apec, link, cadr, pole], ignore_index=True)
df.head()

,Poste,Entreprise,Localisation,Contrat,Description,Nom du site,Lien du site,Experience,Education,Competences,Salaire,Teletravail,Date de debut,Date de parution,Secteur d'activite,Descriptif de l'entreprise,Profil recherche
0,Alternance - Data/Business Analyst SFE Junior ...,BIOGARAN,Colombes,Alternance,"Au sein de la direction Export, vous travaille...",Welcome to the jungle,https://www.welcometothejungle.com/fr/companie...,> 6 mois,Bac +5 / Master,"Excel , Power bi",Non spécifié,Télétravail non autorisé,NaN,2024-06-30,"Pharmaceutique / Biotechnologique, Santé",NaN,NaN
1,Data Analyst IA - Stage - H/F,DATALEON,Paris,Stage\n(2 mois),Tes missions :\nDévelopper des scripts Python ...,Welcome to the jungle,https://www.welcometothejungle.com/fr/companie...,< 6 mois,Bac +1,"Sql , Python",Non spécifié,Télétravail occasionnel,01 juillet 2024,2024-06-29,"Logiciels, Intelligence artificielle / Machine...",NaN,NaN
2,Data Scientist Industrie 4.0 en alternance - P...,PSB - PARIS SCHOOL OF BUSINESS,Paris,Alternance,Contrat d'alternance basé à Paris et au sein d...,Welcome to the jungle,https://www.welcometothejungle.com/fr/companie...,< 6 mois,Bac +3,"Hadoop , Azure , Snowflake , Aws , Python",Non spécifié,Télétravail fréquent,NaN,2024-06-29,"Education, Formation",NaN,NaN
3,Data Quality Operator en alternance - Paris,PSB - PARIS SCHOOL OF BUSINESS,Paris,Alternance,Contrat d'alternance basé à Paris et au sein d...,Welcome to the jungle,https://www.welcometothejungle.com/fr/companie...,< 6 mois,Bac +3,Sql,Non spécifié,Télétravail fréquent,NaN,2024-06-29,"Education, Formation",NaN,NaN
4,ALT - DATA SCIENTIST / ACTUARIAT F/H,GENERALI FRANCE,Paris,Alternance\n(12 à 24 mois),Vos missions\n Le Generali Climate Lab est exp...,Welcome to the jungle,https://www.welcometothejungle.com/fr/companie...,> 6 mois,Bac +4,Python,Non spécifié,Télétravail non autorisé,NaN,2024-06-29,"Banque, Assurance, FinTech / InsurTech",NaN,NaN

In [458]:
# Supprimer les doublons en se basant sur le poste, l'entreprise et la ville

df = df.drop_duplicates(subset=['Poste', 'Entreprise', 'Localisation'])

In [459]:
# Nettoyage de la colonne 'Contrat'

df['Contrat'].fillna('Non renseigné', inplace=True)  

df.loc[df['Contrat'].str.contains('CDD'), 'Contrat'] = 'CDD'
df.loc[df['Contrat'].str.contains('Alternance'), 'Contrat'] = 'Alternance'
df.loc[df['Contrat'].str.contains('intérim'), 'Contrat'] = 'Intérim'
df.loc[df['Contrat'].str.contains('CDI'), 'Contrat'] = 'CDI'
df.loc[df['Contrat'].str.contains('Stage'), 'Contrat'] = 'Stage'
df['Contrat'] = df['Contrat'].str.replace('MIS', 'Intérim', regex=False)
df['Contrat'] = df['Contrat'].str.replace('Temps partiel', 'CDI', regex=False)

df['Contrat'].value_counts()

Contrat
CDI              2425
Alternance        425
CDD               372
Stage             225
Intérim            59
Non renseigné      21
Freelance           9
Autres              5
FRA                 4
Contractuel         2
Name: count, dtype: int64

In [460]:
# Nettoyage de la colonne 'Localisation'

df['Localisation'].fillna('', inplace=True) 
df.loc[df['Localisation'].str.contains('Paris'), 'Localisation'] = 'Paris'
df.loc[df['Localisation'].str.contains('Lyon'), 'Localisation'] = 'Lyon'

df['Localisation'].value_counts()

Localisation
Paris                                 855
Lyon                                  150
Toulouse                               95
Boulogne-Billancourt                   61
Lille                                  61
Courbevoie                             60
Bordeaux                               59
Montpellier                            55
Puteaux                                50
Nantes                                 49
Nanterre                               49
Aix-en-Provence                        45
Marseille                              43
Strasbourg                             41
Massy                                  40
Rennes                                 38
Levallois-Perret                       36
Neuilly-sur-Seine                      27
Grenoble                               26
Saint-Denis                            23
Montrouge                              23
Rouen                                  22
Issy-les-Moulineaux                    21
  PARIS                                19
Suresnes                               18
Villeneuve-d'Ascq                      18
Fontenay-sous-Bois                     17
Niort                                  17
Créteil                                16
Mérignac                               15
Nice                                   15
Cesson-Sévigné                         15
Charenton-le-Pont                      14
La Seyne-sur-Mer                       13
Marignane                              12
Pantin                                 12
Nancy                                  12
Tours                                  12
Châtillon                              12
Vélizy-Villacoublay                    12
Valbonne                               12
France                                 12
Dijon                                  11
Gennevilliers                          11
La Roche-sur-Yon                       11
La Défense                             11
Clermont-Ferrand                       11
Reims                                  11
Villejuif                              10
Metz                                   10
Ivry-sur-Seine                         10
Roissy-en-France                       10
Saint-Cloud                            10
Guyancourt                             10
Le Plessis-Robinson                     9
Valence                                 9
                                        9
Hauts-de-Seine                          9
Gonesse                                 9
Malakoff                                9
Brest                                   9
Arcueil                                 8
Orléans                                 8
Bezons                                  8
Saint-Ouen                              8
Caen                                    8
Limonest                                8
Les Ulis                                8
Colombes                                8
Bagnols-sur-Cèze                        8
Versailles                              8
Montreuil                               8
Montauban                               8
Mulhouse                                7
Villeurbanne                            7
Biot                                    7
Annecy                                  7
Écully                                  7
Montigny-le-Bretonneux                  7
Évry-Courcouronnes                      7
  NANTERRE                              7
Saint-Priest                            7
Poitiers                                6
Verteuil-d'Agenais                      6
Angers                                  6
Antony                                  6
Saint-Pierre                            6
Maisons-Alfort                          6
Rueil-Malmaison                         6
Taverny                                 6
Chartres                                6
Le Mans                                 5
La Rochelle                             5
Vitrolles                               5
Le Havre                                5
Dinard                                  5
Croix                                   5
Carquefou                               5
Cergy                                   5
Roubaix                                 5
Blagnac                                 5
Limoges                                 5
Saint-Herblain                          5
Lorient                                 5
Montbonnot-Saint-Martin                 5
Saclay                                  5
St.-Ouen                                5
Amiens                                  5
Forbach                                 5
Champs-sur-Marne                        5
Besançon                                4
Élancourt                               4
  Hauts de Seine                        4
Fontaine                                4
  LYON                                  4
  NEUILLY SUR SEINE                     4
Bagneux                                 4
Dardilly                                4
  TOULOUSE                              4
La Garde                                4
Clichy                                  4
Lavaur                                  4
Mayenne                                 4
Saint-Lô                                4
Labège                                  4
Vénissieux                              4
Saint-Ouen-sur-Seine                    4
Rungis                                  4
Saint-Etienne                           4
Cherbourg-en-Cotentin                   4
Champagne-au-Mont-d'Or                  3
Ramonville-Saint-Agne                   3
Magny-Vernois                           3
Chaumont                                3
Champigny-sur-Marne                     3
Asnières-sur-Seine                      3
Basse-Goulaine                          3
Bourg-en-Bresse                         3
Le Blanc-Mesnil                         3
Garges-lès-Gonesse                      3
Chauray                                 3
Yssingeaux                              3
La Chapelle-sur-Erdre                   3
Lièpvre                                 3
Libourne                                3
  PUTEAUX                               3
Grasse                                  3
Auch                                    3
Dommartemont                            3
Île-de-France, France                   3
Gentilly                                3
Chambéry                                3
Marcoussis                              3
Valenciennes                            3
Orly                                    3
Plusieurs localisations                 3
Scionzier                               3
Laval                                   3
L'Hopital-Saint-Blaise                  3
Saint-Clément-de-Rivière                3
Saint-Germain-en-Laye                   3
Le Bouscat                              3
Bry-sur-Marne                           3
Ancenis-Saint-Géréon                    3
Dunkerque                               3
Bayonne                                 3
Wasquehal                               3
Saint-Priest-en-Jarez                   3
Palaiseau                               3
Pau                                     3
Oullins                                 3
Lambersart                              3
Yvelines                                3
Dammarie-lès-Lys                        3
Vallauris                               3
Caouënnec-Lanvézéac                     3
Marcq-en-Baroeul                        3
Poissy                                  3
Moirans                                 3
  LILLE                                 3
Bois-Colombes                           3
Maine-et-Loire                          3
Montluçon                               3
Luxeuil-les-Bains                       2
Verneuil-en-Halatte                     2
Mont-de-Marsan                          2
Plaisir                                 2
Cazaux                                  2
Le Kremlin-Bicêtre                      2
Anhiers                                 2
Avignon                                 2
Seine-Saint-Denis                       2
Orsay                                   2
Saint-Vulbas                            2
Huningue                                2
Châteauneuf-le-Rouge                    2
Val-de-Marne                            2
Lieusaint                               2
La Madeleine                            2
Le Coudray-Montceaux                    2
Saint-Nazaire                           2
Clermont                                2
Lesquin                                 2
Digne-les-Bains                         2
Colmar                                  2
Seyne                                   2
Les Herbiers                            2
Aubagne                                 2
Fort-de-France                          2
Six-Fours-les-Plages                    2
Cheniers                                2
Saint-Sulpice-la-Pointe                 2
Vosges                                  2
Foix                                    2
Melun                                   2
Nord                                    2
paris                                   2
Dole                                    2
Brive-la-Gaillarde                      2
Torce                                   2
Val-de-Reuil                            2
Avord                                   2
Ariège                                  2
Les Sables-d'Olonne                     2
Saint-Étienne                           2
St Ouen Sur Seine                       2
Dreux                                   2
Saint-Mandé                             2
Avranches                               2
Cayenne                                 2
Puy-de-Dôme                             2
Issus                                   2
Marcq-en-Barœul                         2
Rhône                                   2
Villeneuve-d’Ascq                       2
Longjumeau                              2
Tarbes                                  2
Cholet                                  2
Alfortville                             2
Saint-Didier-au-Mont-d'Or               2
St.-Denis                               2
Saint-Dizier                            2
IledeFrance                             2
Valenton                                2
Torcé                                   2
Obernai                                 2
  NIORT                                 2
Nogent-sur-Marne                        2
  ST DENIS                              2
Toulon                                  2
Dax                                     2
Voiron                                  2
  VALENCIENNES                          2
Le Bourget-du-Lac                       2
La Hague                                2
Pessac                                  2
Petersbach                              2
Chécy                                   2
Saint-Maurice                           2
  COURBEVOIE                            2
  FONTENAY SOUS BOIS                    2
Romans-sur-Isère                        2
Haute-Goulaine                          2
  ROISSY EN FRANCE                      2
Vesoul                                  2
Bruges                                  2
Villefranche-sur-Saône                  2
Hérouville-Saint-Clair                  2
  BREST                                 2
Eybens                                  2
Herqueville                             2
Mondeville                              2
  Nord                                  2
Abbeville                               2
Sophia-Antipolis                        2
Bailly-Romainvilliers                   2
Laon                                    2
Vannes                                  2
Orleans                                 2
Rodez                                   2
Étaples                                 2
Arras                                   2
Saint-Aubin                             2
Saint-Grégoire                          2
Magny-les-Hameaux                       2
La Tronche                              2
Francheville                            2
Belfort                                 2
Aubervilliers                           2
Villepinte                              2
Bondoufle                               2
Cachan                                  2
Gironde                                 2
Villebon-sur-Yvette                     2
  Ille et Vilaine                       1
  CHATEAULIN                            1
Eysines                                 1
Solomiac                                1
Auvergne-Rhône-Alpes, France            1
Conflans-Ste.-Honorine                  1
  Évreux                                1
Prignac-et-Marcamps                     1
  MONTREUIL                             1
Oraison                                 1
Auxerre                                 1
  NOGENT SUR SEINE                      1
Greater Lille Metropolitan Area         1
Dol-de-Bretagne                         1
Aix-Les-Bains                           1
Givors                                  1
Brumath                                 1
Rousset                                 1
Limoges-Fourches                        1
  VERT LE GRAND                         1
Gans                                    1
La Garenne-Colombes                     1
Arles                                   1
Greater Brest Area                      1
Comigne                                 1
Les Clayes-sous-Bois                    1
Chassieu                                1
Yffiniac                                1
Le Fieu                                 1
Beaucouzé                               1
Provence-Alpes-Côte d'Azur, France      1
La Chapelle-sur-Chézy                   1
Moret-sur-Loing                         1
Canton of Givors                        1
La Celle-sous-Gouzon                    1
Lessay                                  1
Soissons                                1
Err                                     1
Lezennes                                1
Castets                                 1
  CRETEIL                               1
Greater Grenoble Metropolitan Area      1
Arleux                                  1
Tremblay-en-France                      1
  Gironde                               1
Greater Reims Area                      1
  MONTROUGE                             1
  VILLEURBANNE                          1
  ST OUEN SUR SEINE                     1
Laxou                                   1
Bezannes                                1
Garches                                 1
Feuquières-en-Vimeu                     1
La Ménitré                              1
  MASSY                                 1
Gard                                    1
Saint-Servais                           1
Remiremont                              1
Boigneville                             1
Neuilly-sur-Marne                       1
  BORDEAUX                              1
  MARCQ EN BAROEUL                      1
Lattes                                  1
Cercottes                               1
St.-Cloud                               1
  Nanterre                              1
  RUEIL MALMAISON                       1
Brouqueyran                             1
Montréal                                1
Mouans-Sartoux                          1
Lacaussade                              1
  VILLEJUIF                             1
  VELIZY VILLACOUBLAY                   1
Mundolsheim                             1
Saubrigues                              1
  VILLERS LES NANCY                     1
Guer                                    1
Beignon                                 1
Marne                                   1
  CHAMBERY                              1
Harnes                                  1
  SaintDenis                            1
Tonnay-Charente                         1
Thoissey                                1
Vitré                                   1
  LEVALLOIS PERRET                      1
  CORBEIL                               1
  Bobigny                               1
Arnac-Pompadour                         1
Saint-Thonan                            1
  EPINAY SUR SEINE                      1
Antibes                                 1
Mordelles                               1
Lézignan-Corbières                      1
  ST PIERRE                             1
  ANICHE                                1
Le Rheu                                 1
Bouches-Du-Rhône                        1
Saint-Martin-Des-Champs                 1
Dechy                                   1
Questembert                             1
  Blagnac                               1
Gonfreville                             1
  CHARTRES                              1
Rambouillet                             1
Marseille 02                            1
  BOIS GUILLAUME                        1
  Arras                                 1
  AIX EN PROVENCE                       1
Saint-Laurent-du-Var                    1
  Toulouse                              1
Cournon-d'Auvergne                      1
Villefranche-sur-Saone                  1
Senlis                                  1
  VESOUL                                1
Vendée                                  1
Ille-et-Vilaine                         1
Châteaufort                             1
Val-d'Oise                              1
Étampes                                 1
DOMTOM, Etr                             1
  Brunoy                                1
Gif-sur-Yvette                          1
  Pau                                   1
  LE HAVRE                              1
Chambourcy                              1
  NANTES                                1
Colomiers                               1
Hérault                                 1
  VANVES                                1
  AUBIERE                               1
  REIMS                                 1
  COURNON D AUVERGNE                    1
Dirinon                                 1
Genève                                  1
Vienne                                  1
Le Perreux-sur-Marne                    1
Marquette-lez-Lille                     1
  Rhin (Bas)                            1
Münchenstein                            1
  CAEN                                  1
Greater Clermont-Ferrand Area           1
  GIDY                                  1
  Colomiers                             1
Sophia Antipolis                        1
Le Chambon-Feugerolles                  1
  AUTRECHE                              1
Seignosse                               1
Gémenos                                 1
Martigues                               1
  COLMAR                                1
Quimper                                 1
Fort-de-france                          1
  MALAKOFF                              1
  ANNECY                                1
Évry                                    1
Oudalle                                 1
  CLICHY                                1
  LANDERNEAU                            1
  LISIEUX                               1
AuvergneRhôneAlpes                      1
  ARRAS                                 1
Montoire-sur-le-Loir                    1
Bruxelles                               1
  PLAISIR                               1
  ASNIERES SUR SEINE                    1
Eaubonne                                1
Montlhéry                               1
Verlinghem                              1
Naintré                                 1
Arcis-sur-Aube                          1
Écouen                                  1
Genay                                   1
Sarreguemines                           1
Semur-en-Auxois                         1
Décines-Charpieu                        1
Cognac                                  1
Trémery                                 1
Vire Normandie                          1
Ligugé                                  1
Boves                                   1

In [461]:
# Nettoyage de la colonne 'Experience' et drop des colonnes avec plus de 2 ans d'expérience

df['Experience'] = df['Experience'].str.replace('Premier emploi', 'Aucune expérience exigée', regex=False)
df['Experience'] = df['Experience'].str.replace('Débutant accepté', 'Aucune expérience exigée', regex=False)
df['Experience'] = df['Experience'].str.replace('Débutant accepté (Débutant)', 'Aucune expérience exigée', regex=False)
df['Experience'] = df['Experience'].str.replace('Stage', 'Aucune expérience exigée', regex=False)
df['Experience'] = df['Experience'].str.replace('Aucune expérience exigée / Alternance', 'Aucune expérience exigée', regex=False)
df['Experience'] = df['Experience'].str.replace('Aucune expérience exigée (Débutant)', 'Aucune expérience exigée', regex=False)
df['Experience'] = df['Experience'].str.replace("Tous niveaux d'expérience acceptés", 'Aucune expérience exigée', regex=False)
df['Experience'] = df['Experience'].str.replace('< 6 mois', 'Aucune expérience exigée', regex=False)

df['Experience'] = df['Experience'].str.replace('> 6 mois', '6 mois', regex=False)
df['Experience'] = df['Experience'].str.replace('Premier emploi', '6 mois', regex=False)
df['Experience'] = df['Experience'].str.replace('Débutant accepté', '6 mois', regex=False)
df['Experience'] = df['Experience'].str.replace('Débutant accepté (Débutant)', '6 mois', regex=False)
df['Experience'] = df['Experience'].str.replace('Stage', '6 mois', regex=False)
df['Experience'] = df['Experience'].str.replace('6 Mois', '6 mois', regex=False)

df['Experience'] = df['Experience'].str.replace('Minimum 1 an', '1 an', regex=False)
df['Experience'] = df['Experience'].str.replace('> 1 an', '1 ans', regex=False)
df['Experience'] = df['Experience'].str.replace('Expérience souhaitée de 1 An(s)', '1 an', regex=False)
df['Experience'] = df['Experience'].str.replace('Expérience exigée de 1 An(s)', '1 an', regex=False)
df['Experience'] = df['Experience'].str.replace('1 An(s)', '1 an', regex=False)
df['Experience'] = df['Experience'].str.replace('1 ans', '1 an', regex=False)

df['Experience'] = df['Experience'].str.replace('Minimum 2 ans', '2 ans', regex=False)
df['Experience'] = df['Experience'].str.replace('2 An(s)', '2 ans', regex=False)
df['Experience'] = df['Experience'].str.replace('Expérience exigée de 2 An(s)', '2 ans', regex=False)
df['Experience'] = df['Experience'].str.replace('Expérience souhaitée de 2 An(s)', '2 ans', regex=False)
df['Experience'] = df['Experience'].str.replace('Expérience souhaitée de 2 ans', '2 ans', regex=False)
df['Experience'] = df['Experience'].str.replace('Expérience exigée de 2 ans', '2 ans', regex=False)

df = df[df['Experience'].isin(['Aucune expérience exigée', '2 ans', '1 an', '6 mois', np.nan])]

df['Experience'].value_counts()

Experience
Aucune expérience exigée    1526
2 ans                        567
1 an                         551
6 mois                       168
Name: count, dtype: int64

In [462]:
# Nettoyage de la colonne 'Education'

df['Education'] = df['Education'].str.replace('Bac +5 / Master', 'Bac +5', regex=False)
df['Education'] = df['Education'].str.replace('Bac+5 et plus ou équivalents', 'Bac +5', regex=False)
df['Education'] = df['Education'].str.replace('> Bac +5 / Doctorat', 'Bac +5', regex=False)

df['Education'] = df['Education'].str.replace('Bac+2 ou équivalents', 'Bac +2', regex=False)

df['Education'] = df['Education'].str.replace('Bac+3, Bac+4 ou équivalents', 'Bac +3', regex=False)

df['Education'] = df['Education'].str.replace('Bac +1', 'Bac', regex=False)
df['Education'] = df['Education'].str.replace('Bac ou équivalent', 'Bac', regex=False)

df['Education'] = df['Education'].str.replace('Aucune formation scolaire', 'Sans diplôme', regex=False)

df['Education'].value_counts()

Education
Bac +5          367
Bac +4          138
Bac +3          112
Bac +2           52
Sans diplôme     13
Bac              10
CAP               3
Name: count, dtype: int64

In [463]:
# Nettoyage et transformation de la colonne 'Salaire'

df['Salaire'] = df['Salaire'].str.replace('1K à 1,5K € par mois', '12 - 18 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('1K à 1,2K € par mois', '12 - 14 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('20K à 25K €', '20 - 25 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('40 - 40 k€ brut annuel', '40 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('35K à 40K €', '35 - 40 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('700 € par mois', '8 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('900 à 1 000 € par mois', '11 - 12 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('1,3K à 1,6K € par mois', '15 - 19 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('900 à 1 300 € par mois', '11 - 15 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('1,2K à 1,4K € par mois', '12 - 17 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('≥ 1,2K € par mois', '12 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('1K € par mois', '12 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('795 à 1 766 € par mois', '9 - 21 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('900 à 1 400 € par mois', '11 - 17 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('1,3K € par mois', '15 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('1,4K € par mois', '17 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 34000.0 Euros sur 12.0 mois', '34 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Mensuel de 2000.0 Euros sur 12.0 mois', '24 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 38000 Euros à 40000 Euros sur 13 mois', '38 - 40 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 37000.00 Euros sur 12.5 mois', '37 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 38000 Euros à 41000 Euros sur 12 mois', '38 - 41 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 25000 Euros à 27000 Euros sur 12 mois', '25 - 27 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Mensuel de 3850.00 Euros à 5150.00 Euros sur 13 mois', '46 - 62 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 28000 Euros à 35000 Euros sur 12 mois', '28 - 35 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Mensuel de 1000 Euros sur 12 mois', '12 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 35000.0 Euros à 45000.0 Euros sur 12.0 mois', '35 - 45 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 21203.4 Euros sur 13.0 mois', '21 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 45000.0 Euros à 47000.0 Euros sur 12.0 mois', '45 - 47 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Mensuel de 795,00 Euros à 1766,00 Euros', '9 - 21 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 30000.0 Euros à 55000.0 Euros sur 12.0 mois', '30 - 55 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 37000.0 Euros à 39000.0 Euros sur 12.0 mois', '37 - 39 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Horaire de 19.36 Euros sur 12.0 mois', '32 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 36000.00 Euros à 38000.00 Euros sur 13 mois', '36 - 38 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 25000.0 Euros à 27000.0 Euros sur 12.0 mois', '25 - 27 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 24000.0 Euros sur 12.0 mois', '24 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('477 à 1 200 € par mois', '6 - 14 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('48,5K à 54,5K €', '48.5 - 54.5 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('≥ 800 € par mois', '≥ 9.6 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('≥ 42K €', '≥ 42 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('1,4K à 1,7K € par mois', '17 - 20 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('700 à 701 €', '8.4 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('1,1K € par mois', '13.2 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('1,8K € par mois', '21.6 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('≥ 650 € par mois', '≥ 7.8 k€', regex=False)

# Nettoyage des formats de salaires pour les rendre uniformes (ex: de '12-15 k€' à '12 - 15 k€')
df['Salaire'] = df['Salaire'].str.replace('k€', '')
df['Salaire'] = df['Salaire'].str.replace('K', '')
df['Salaire'] = df['Salaire'].str.replace(' - ', '-')
df['Salaire'] = df['Salaire'].str.replace('à', '-', regex=True)
df['Salaire'] = df['Salaire'].str.replace('≥ | < | > | ≤', '', regex=True)
df['Salaire'] = df['Salaire'].str.replace('A partir de | brut annuel', '', regex=True)   

# Convertir les salaires en catégories
def categorize_salary(salary):
    try:
        if '-' in salary:
            lower, upper = map(int, salary.split('-'))
            if lower <= 10:
                return '<= 10k€'
            elif 10 < lower <= 15:
                return '10 - 15k€'
            elif 16 <= lower <= 20:
                return '16 - 20k€'
            elif 21 <= lower <= 25:
                return '21 - 25k€'
            elif 26 <= lower <= 30:
                return '26 - 30k€'
            elif 31 <= lower <= 35:
                return '31 - 35k€'
            elif lower > 35:
                return '> 35k€'
        else:
            salary = int(salary)
            if salary <= 10:
                return '<= 10k€'
            elif 10 < salary <= 15:
                return '10 - 15k€'
            elif 16 <= salary <= 20:
                return '16 - 20k€'
            elif 21 <= salary <= 25:
                return '21 - 25k€'
            elif 26 <= salary <= 30:
                return '26 - 30k€'
            elif 31 <= salary <= 35:
                return '31 - 35k€'
            elif salary > 35:
                return '> 35k€'
    except:
        return np.nan

df['Salaire'] = df['Salaire'].apply(categorize_salary)

df = df.rename(columns={'Salaire': 'Salaire annuel brut'})

df['Salaire annuel brut'].value_counts()

Salaire annuel brut
> 35k€       426
31 - 35k€    205
26 - 30k€    188
21 - 25k€     96
10 - 15k€     34
16 - 20k€     30
<= 10k€       14
Name: count, dtype: int64

In [464]:
# Nettoyage et transformation de la colonne 'Teletravail'

df['Teletravail'] = df['Teletravail'].str.replace('Télétravail non autorisé', 'Non autorisé', regex=False)
df['Teletravail'] = df['Teletravail'].str.replace('Télétravail fréquent', 'Partiel possible', regex=False)
df['Teletravail'] = df['Teletravail'].str.replace('Télétravail occasionnel', 'Ponctuel autorisé', regex=False)
df['Teletravail'] = df['Teletravail'].str.replace('Télétravail total', 'Total possible', regex=False)

df['Teletravail'].value_counts()

Teletravail
Partiel possible     545
Non autorisé         413
Ponctuel autorisé    399
Total possible        36
Name: count, dtype: int64

In [465]:
# Nettoyage et transformation de la colonne 'Date de debut'

def parse_and_transform_date(date_str):
    if pd.notna(date_str) and ' ' in date_str:
        try:
            date_str = date_str.replace('janvier', '01')
            date_str = date_str.replace('février', '02')
            date_str = date_str.replace('mars', '03')
            date_str = date_str.replace('avril', '04')
            date_str = date_str.replace('mai', '05')
            date_str = date_str.replace('juin', '06')
            date_str = date_str.replace('juillet', '07')
            date_str = date_str.replace('août', '08')
            date_str = date_str.replace('septembre', '09')
            date_str = date_str.replace('octobre', '10')
            date_str = date_str.replace('novembre', '11')
            date_str = date_str.replace('décembre', '12')
            
            parsed_date = datetime.strptime(date_str, '%d %m %Y').strftime('%d/%m/%Y')
            return parsed_date
        except ValueError:
            return date_str
    else:
        return date_str

df['Date de debut'] = df['Date de debut'].apply(parse_and_transform_date)

In [466]:
# Nettoyage et transformation de la colonne 'Date de parution'

def parse_date(date_str):
    try:
        parsed_date = parse(date_str, dayfirst=True)
        return parsed_date.strftime('%d/%m/%Y')
    except:
        return pd.NaT

df['Date de parution'] = df['Date de parution'].apply(parse_date)

In [467]:
# Remplissage de valeurs manquantes par 'Non renseigné'

df.fillna('Non renseigné', inplace=True)

In [468]:
#df.to_csv('clean_df_01_07.csv', index=False)