In [395]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
from dateutil.parser import parse

#welc = pd.read_csv('C:\\Users\\559816\\Documents\\Project 3\\Job-scrapping\\Selenium\\nettoyage\\welcome_to_the_jungle_19_07.csv')
apec = pd.read_csv('C:\\Users\\559816\\Documents\\Project 3\\Job-scrapping\\Selenium\\nettoyage\\apec_22_07_24.csv')
link = pd.read_csv('C:\\Users\\559816\\Documents\\Project 3\\Job-scrapping\\Selenium\\nettoyage\\linkedin_extraction_du_22_07_2024.csv')
#cadr = pd.read_csv('C:\\Users\\559816\\Documents\\Project 3\\Job-scrapping\\Selenium\\nettoyage\\cadremploi_jobs 08-07-24.csv', delimiter=';', encoding='latin1')
pole = pd.read_csv('C:\\Users\\559816\\Documents\\Project 3\\Job-scrapping\\Selenium\\nettoyage\\pole_emploi_2207.csv')

In [350]:
# Csv Welcome to the Jungle

welc.head()

,Poste,Entreprise,Localisation,Contrat,Description,Nom du site,Lien du site,Experience,Education,Competences,Salaire,Teletravail,Date de debut,Date de parution,Secteur d'activite
0,Investor Relations - Junior Data Analyst H/F,ARDIAN,Paris,CDI,NaN,Welcome to the jungle,https://www.welcometothejungle.com/fr/companie...,< 6 mois,Bac +5 / Master,NaN,Non spécifié,Télétravail non autorisé,NaN,2024-07-19,Finance
1,Stage Data Science (H/F) - 5/6 mois,QUICKSIGN,Paris,Stage\n(5 à 6 mois),NaN,Welcome to the jungle,https://www.welcometothejungle.com/fr/companie...,< 6 mois,Bac +5 / Master,NaN,"1K à 1,3K €",Télétravail occasionnel,02 septembre 2024,2024-07-19,"FinTech / InsurTech, SaaS / Cloud Services"
2,Stage - Data Scientist H/F,JCDECAUX,Neuilly-sur-Seine,Stage,NaN,Welcome to the jungle,https://www.welcometothejungle.com/fr/companie...,> 1 an,Bac +4,"Gestion de projets , Compétences en communicat...",Non spécifié,Télétravail non autorisé,NaN,2024-07-19,"Marketing / Communication, Publicité"
3,Contrôleur de Gestion Junior - Data Risques Co...,RSM,Paris,CDI,NaN,Welcome to the jungle,https://www.welcometothejungle.com/fr/companie...,> 1 an,NaN,"Compétences en communication , Systèmes de con...",Non spécifié,Télétravail non autorisé,NaN,2024-07-19,"Expertise comptable, Audit, Finance"
4,Auditeur Data Risques Conformité Junior H/F,RSM,Paris,CDI,NaN,Welcome to the jungle,https://www.welcometothejungle.com/fr/companie...,> 1 an,NaN,"Compétences en communication , Systèmes de con...",Non spécifié,Télétravail non autorisé,NaN,2024-07-19,"Expertise comptable, Audit, Finance"

In [388]:
# Csv Apec

apec.head()

,Unnamed: 0,Poste,Entreprise,Localisation,Contrat,Description,Nom du site,Lien du site,Expérience,Salaire,Teletravail,Date de debut,Date de parution,Secteur d'activite,Descriptif de l'entreprise,Profil recherché
0,0,Data engineer,Datatorii,Paris 01 - 75,1 CDI,MissionVous effectuez des missions à forte val...,APEC,https://www.apec.fr/candidat/recherche-emploi....,Tous niveaux d'expérience acceptés,40 - 65 k€ brut annuel,NaN,Dès que possible,Publiée le 14/06/2024,CONSEIL EN SYSTÈMES ET LOGICIELS INFORMATIQUES,Datatorii est une société de conseil spécialis...,"Formation initialeBAC +5 (Ingénieur, mathémati..."
1,1,Data analyst,MICHAEL PAGE INTERNATIONAL FRANCE,Rueil-Malmaison - 92,1 CDI,Le Data Analyst interviendra sur les sujets su...,APEC,https://www.apec.fr/candidat/recherche-emploi....,Aucune expérience exigée,45 - 50 k€ brut annuel,NaN,Dès que possible,Publiée le 20/07/2024,FABRICATION DE PRODUITS PHARMACEUTIQUES DE BASE,Le client est un acteur leader dans le secteur...,Le Data Analyst sera idéalement diplômé d'un B...
2,2,Data scientist,MP DATA,Lille - 59,1 CDI,Nous recherchons un Data scientist (H/F) confi...,APEC,https://www.apec.fr/candidat/recherche-emploi....,Minimum 1 an,A partir de 40 k€ brut annuel,Partiel possible,Dès que possible,Publiée le 18/07/2024,CONSEIL EN SYSTÈMES ET LOGICIELS INFORMATIQUES,MP DATA est une société spécialisée dans l’acq...,"Ingénieur d’une grande école (Centrale, Mines,..."
3,3,Data analyst,INETUM,Lille - 59,1 CDI,Dans le cadre de la croissance de notre agence...,APEC,https://www.apec.fr/candidat/recherche-emploi....,Minimum 1 an,36 - 41 k€ brut annuel,Ponctuel autorisé,Dès que possible,Publiée le 15/07/2024,CONSEIL EN SYSTÈMES ET LOGICIELS INFORMATIQUES,Inetum est un leader européen des services num...,"Pour mener à bien votre rôle, il vous faut :• ..."
4,4,Data engineer,MP DATA,Lille - 59,1 CDI,Nous recherchons un(e) Data Engineer pour rejo...,APEC,https://www.apec.fr/candidat/recherche-emploi....,Minimum 1 an,A partir de 40 k€ brut annuel,Partiel possible,Dès que possible,Publiée le 18/07/2024,CONSEIL EN SYSTÈMES ET LOGICIELS INFORMATIQUES,MP DATA est une société spécialisée dans l’acq...,· Diplômé(e) ingénieur(e) d’une grande é...

In [396]:
# Nettoyage initial de csv Apec

apec = pd.concat([apec, apec], ignore_index=True)

apec = apec.drop(columns = "Unnamed: 0")
apec = apec.rename(columns={'Expérience': 'Experience', 'Profil recherché' : 'Profil recherche'})

def remove_numbers_hyphens_from_end(s):
    if len(s) <= 7:
        return re.sub(r'[\d-]', '', s)
    else:
        # Split into two parts: everything except the last 7 characters, and the last 7 characters
        main_part = s[:-7]
        end_part = s[-7:]
        # Remove numbers and hyphens from the last 7 characters
        end_part = re.sub(r'[\d-]', '', end_part)
        # Combine the parts back together
        s = main_part + end_part
        s = s.strip()
        return s

# Apply the function to 'column1'
apec['Localisation'] = apec['Localisation'].apply(remove_numbers_hyphens_from_end)

def remove_numbers_from_start(s):
    if len(s) <= 3:
        return re.sub(r'^\d+', '', s)
    else:
        # Split into two parts: the first 3 characters and the rest of the string
        start_part = s[:3]
        main_part = s[3:]
        # Remove numbers from the first 3 characters
        start_part = re.sub(r'\d', '', start_part)
        # Combine the parts back together
        s = start_part + main_part
        s = s.strip()
        return s

# Apply the function to 'column1'
apec['Contrat'] = apec['Contrat'].apply(remove_numbers_from_start)

apec['Date de parution'] = apec['Date de parution'].str.replace('Publiée le ', '', regex=False)

apec.replace('A négocier', np.nan, inplace=True)

apec.head()

,Poste,Entreprise,Localisation,Contrat,Description,Nom du site,Lien du site,Experience,Salaire,Teletravail,Date de debut,Date de parution,Secteur d'activite,Descriptif de l'entreprise,Profil recherche
0,Data engineer,Datatorii,Paris,CDI,MissionVous effectuez des missions à forte val...,APEC,https://www.apec.fr/candidat/recherche-emploi....,Tous niveaux d'expérience acceptés,40 - 65 k€ brut annuel,NaN,Dès que possible,14/06/2024,CONSEIL EN SYSTÈMES ET LOGICIELS INFORMATIQUES,Datatorii est une société de conseil spécialis...,"Formation initialeBAC +5 (Ingénieur, mathémati..."
1,Data analyst,MICHAEL PAGE INTERNATIONAL FRANCE,Rueil-Malmaison,CDI,Le Data Analyst interviendra sur les sujets su...,APEC,https://www.apec.fr/candidat/recherche-emploi....,Aucune expérience exigée,45 - 50 k€ brut annuel,NaN,Dès que possible,20/07/2024,FABRICATION DE PRODUITS PHARMACEUTIQUES DE BASE,Le client est un acteur leader dans le secteur...,Le Data Analyst sera idéalement diplômé d'un B...
2,Data scientist,MP DATA,Lille,CDI,Nous recherchons un Data scientist (H/F) confi...,APEC,https://www.apec.fr/candidat/recherche-emploi....,Minimum 1 an,A partir de 40 k€ brut annuel,Partiel possible,Dès que possible,18/07/2024,CONSEIL EN SYSTÈMES ET LOGICIELS INFORMATIQUES,MP DATA est une société spécialisée dans l’acq...,"Ingénieur d’une grande école (Centrale, Mines,..."
3,Data analyst,INETUM,Lille,CDI,Dans le cadre de la croissance de notre agence...,APEC,https://www.apec.fr/candidat/recherche-emploi....,Minimum 1 an,36 - 41 k€ brut annuel,Ponctuel autorisé,Dès que possible,15/07/2024,CONSEIL EN SYSTÈMES ET LOGICIELS INFORMATIQUES,Inetum est un leader européen des services num...,"Pour mener à bien votre rôle, il vous faut :• ..."
4,Data engineer,MP DATA,Lille,CDI,Nous recherchons un(e) Data Engineer pour rejo...,APEC,https://www.apec.fr/candidat/recherche-emploi....,Minimum 1 an,A partir de 40 k€ brut annuel,Partiel possible,Dès que possible,18/07/2024,CONSEIL EN SYSTÈMES ET LOGICIELS INFORMATIQUES,MP DATA est une société spécialisée dans l’acq...,· Diplômé(e) ingénieur(e) d’une grande é...

In [390]:
# Csv LinkedIn

link.head()

,Poste,Entreprise,Localisation,Contrat,Description,Nom du site,Lien du site,Experience,Competences,Date de parution,Secteur d'activité
0,ASSISTANT.E DATA,Akademija Oxford,Ille-et-Vilaine,Temps plein,Vous avez envie d’intégrer une école à taille ...,linkedin.com,https://fr.linkedin.com/jobs/view/assistant-e-...,Premier emploi,Autre,21 juillet 2024,Développement professionnel et coaching
1,"Data scientist F/H - Système, réseaux, données...",LACROIX Defense,Ariège,Temps plein,Cette offre d’emploi est fournie par Pôle empl...,linkedin.com,https://fr.linkedin.com/jobs/view/data-scienti...,Premier emploi,Ingénierie et Technologies de l’information,18 juillet 2024,Fabrication d’articles de sport
2,Junior Data Analyst - Asset Management,Skill Farm,Paris,Travail temporaire,Skill Farm Members are invited to apply for th...,linkedin.com,https://fr.linkedin.com/jobs/view/junior-data-...,Premier emploi,Technologies de l’information,22 juillet 2024,Banques d’investissement
3,Data analyst Power BI - Débutant H/F,TotalEnergies,Courbevoie,Temps plein,Profil du candidat Vous avez récemment été dip...,linkedin.com,https://fr.linkedin.com/jobs/view/data-analyst...,Premier emploi,Technologies de l’information,20 juillet 2024,Industrie pétrolière et gazière
4,Alternant(e) Data Analyst - Sales Ops H/F/x,Obat,Nantes,Autre,À propos de nousVous avez dit Obat ⚡?Lancé en ...,linkedin.com,https://fr.linkedin.com/jobs/view/alternant-e-...,Premier emploi,Technologies de l’information,18 juillet 2024,Développement de logiciels

In [397]:
# Nettoyage initial de csv LinkedIn

link = link.rename(columns={"Secteur d'activité": "Secteur d'activite"})

link['Contrat'] = link['Contrat'].str.replace('Temps plein', 'CDI', regex=False)
link['Contrat'] = link['Contrat'].str.replace('Contrat', 'CDI', regex=False)
link['Contrat'] = link['Contrat'].str.replace('Stage / Alternance', 'Alternance', regex=False)
link['Contrat'] = link['Contrat'].str.replace('Travail temporaire', 'CDD', regex=False)
link.replace('Autre', np.nan, inplace=True)

link["Nom du site"] = "LinkedIn"
link.head()

,Poste,Entreprise,Localisation,Contrat,Description,Nom du site,Lien du site,Experience,Competences,Date de parution,Secteur d'activite
0,ASSISTANT.E DATA,Akademija Oxford,Ille-et-Vilaine,CDI,Vous avez envie d’intégrer une école à taille ...,LinkedIn,https://fr.linkedin.com/jobs/view/assistant-e-...,Premier emploi,NaN,21 juillet 2024,Développement professionnel et coaching
1,"Data scientist F/H - Système, réseaux, données...",LACROIX Defense,Ariège,CDI,Cette offre d’emploi est fournie par Pôle empl...,LinkedIn,https://fr.linkedin.com/jobs/view/data-scienti...,Premier emploi,Ingénierie et Technologies de l’information,18 juillet 2024,Fabrication d’articles de sport
2,Junior Data Analyst - Asset Management,Skill Farm,Paris,CDD,Skill Farm Members are invited to apply for th...,LinkedIn,https://fr.linkedin.com/jobs/view/junior-data-...,Premier emploi,Technologies de l’information,22 juillet 2024,Banques d’investissement
3,Data analyst Power BI - Débutant H/F,TotalEnergies,Courbevoie,CDI,Profil du candidat Vous avez récemment été dip...,LinkedIn,https://fr.linkedin.com/jobs/view/data-analyst...,Premier emploi,Technologies de l’information,20 juillet 2024,Industrie pétrolière et gazière
4,Alternant(e) Data Analyst - Sales Ops H/F/x,Obat,Nantes,NaN,À propos de nousVous avez dit Obat ⚡?Lancé en ...,LinkedIn,https://fr.linkedin.com/jobs/view/alternant-e-...,Premier emploi,Technologies de l’information,18 juillet 2024,Développement de logiciels

In [355]:
# Csv Cadreemploi

cadr.head()

,Poste,Entreprise,localisation,Contrat,Description,Nom du site,lien du site
0,Data Miner H/F,Fiducial,Lyon,CDI,"Fiducial Office Solutions, spécialiste de l'éq...",Cadremploi,https://www.cadremploi.fr/emploi/detail_offre?...
1,Data Controller H/F,In Extenso,Valence,CDI,NaN,Cadremploi,https://www.cadremploi.fr/emploi/detail_offre?...
2,Data Controller H/F,In Extenso,La Tronche,CDI,NaN,Cadremploi,https://www.cadremploi.fr/emploi/detail_offre?...
3,Data Controller H/F,In Extenso,Pringy,CDI,NaN,Cadremploi,https://www.cadremploi.fr/emploi/detail_offre?...
4,Data Controller H/F,In Extenso,Marnaz,CDI,NaN,Cadremploi,https://www.cadremploi.fr/emploi/detail_offre?...

In [356]:
# Nettoyage initial de csv Cadremploi

cadr = cadr.rename(columns={'poste': 'Poste'})
cadr = cadr.rename(columns={'entreprise': 'Entreprise'})
cadr = cadr.rename(columns={'localisation': 'Localisation'})
cadr = cadr.rename(columns={'type contrat': 'Contrat'})
cadr = cadr.rename(columns={'description': 'Description'})
cadr = cadr.rename(columns={'date-publication': 'Date de parution'})
cadr = cadr.rename(columns={'lien du site': 'Lien du site'})
#cadr["Nom du site"] = 'Cadremploi'
cadr.head()

"""
cadr.columns = cadr.iloc[0]
cadr = cadr[1:]
cadr = cadr.reset_index(drop=True)
"""

cadr['Contrat'] = cadr['Contrat'].str.replace('Apprentissage/Alternance', 'Alternance', regex=False)
cadr['Contrat'] = cadr['Contrat'].str.replace('Indépendant / Freelance', 'Freelance', regex=False)

cadr.head()

,Poste,Entreprise,Localisation,Contrat,Description,Nom du site,Lien du site
0,Data Miner H/F,Fiducial,Lyon,CDI,"Fiducial Office Solutions, spécialiste de l'éq...",Cadremploi,https://www.cadremploi.fr/emploi/detail_offre?...
1,Data Controller H/F,In Extenso,Valence,CDI,NaN,Cadremploi,https://www.cadremploi.fr/emploi/detail_offre?...
2,Data Controller H/F,In Extenso,La Tronche,CDI,NaN,Cadremploi,https://www.cadremploi.fr/emploi/detail_offre?...
3,Data Controller H/F,In Extenso,Pringy,CDI,NaN,Cadremploi,https://www.cadremploi.fr/emploi/detail_offre?...
4,Data Controller H/F,In Extenso,Marnaz,CDI,NaN,Cadremploi,https://www.cadremploi.fr/emploi/detail_offre?...

In [392]:
# Csv France Travail

pole.head()

,Unnamed: 0,Poste,description,Localisation,Libellé d’Appellation,Entreprise,Contrat,Nature du Contrat,Experience,Temps de Travail,alternance,contact,qualificationLibelle,Secteur Activite,origineOffre,competences,Education,Qualités Profesionnelles,Nom du site,salaire_bis
0,0,Consultant Data BI Confirmé (H/F),"Selon vos expériences, vous êtes autonome à mi...",33 - BEGLES,Consultant / Consultante en système d'information,THELIO,CDI,Contrat travail,3 An(s),38H30,False,NaN,Cadre,Conseil en systèmes et logiciels informatiques,https://candidat.francetravail.fr/offres/reche...,0,NaN,NaN,France Travail,Annuel de 40000.0 Euros à 55000.0 Euros sur 12...
1,1,Tech Lead Data (H/F),Vous maîtrisez aujourd'hui l'entièreté du trai...,69 - LYON 02,Data manager,THELIO,CDI,Contrat travail,5 An(s),38H30,False,NaN,Cadre,Conseil en systèmes et logiciels informatiques,https://candidat.francetravail.fr/offres/reche...,"Concevoir et gérer un projet, Concevoir un log...",NaN,NaN,France Travail,Annuel de 45000.0 Euros à 55000.0 Euros sur 12...
2,2,Tech Lead Data (H/F),Vous maîtrisez aujourd'hui l'entièreté du trai...,33 - BEGLES,Data manager,THELIO,CDI,Contrat travail,5 An(s),38H30,False,NaN,Cadre,Conseil en systèmes et logiciels informatiques,https://candidat.francetravail.fr/offres/reche...,"Concevoir et gérer un projet, Concevoir un log...",NaN,NaN,France Travail,Annuel de 45000.0 Euros à 55000.0 Euros sur 12...
3,3,Consultant Data BI Confirmé (H/F),"Selon vos expériences, vous êtes autonome à mi...",69 - LYON 02,Consultant / Consultante en système d'information,THELIO,CDI,Contrat travail,3 An(s),38H30,False,NaN,Cadre,Conseil en systèmes et logiciels informatiques,https://candidat.francetravail.fr/offres/reche...,0,NaN,NaN,France Travail,Annuel de 40000.0 Euros à 55000.0 Euros sur 12...
4,4,Mesure AFPR-POEI : Délégué / Déléguée à la pro...,Cette offre concerne une mesure AFPR-POEI,69 - Villeurbanne,Délégué(e) à la protection des données - DPO,{'entrepriseAdaptee': False},CDD - 19 Mois,Contrat apprentissage,Débutant accepté,35H,True,NaN,Technicien,Conseil en systèmes et logiciels informatiques,https://candidat.francetravail.fr/offres/reche...,0,NaN,NaN,France Travail,Mensuel de 1766.92 Euros à 1766.92 Euros sur 1...

In [398]:
# Nettoyage initial de csv France Travail

pole = pole.drop(columns = ["Unnamed: 0", "Temps de Travail", "qualificationLibelle"])

pole = pole.rename(columns={'Date de Création': 'Date de parution', 'origineOffre': 'Lien du site', 'salaire_bis': 'Salaire', 'Lieu de travail' : 'Localisation', 'description' : 'Description'})

pole = pole[['Poste', 'Entreprise', 'Localisation', 'Contrat', 'Description', 'Nom du site', 'Lien du site', 'Experience', 'Salaire']]

pole.replace(' 0', np.nan, inplace=True)
pole.replace('0', np.nan, inplace=True)
pole.replace('0, 0', np.nan, inplace=True)
pole.replace('{}', np.nan, inplace=True)

pole['Localisation'] = pole['Localisation'].str.replace(r'[\d-]+', '', regex=True)

pole.head()

,Poste,Entreprise,Localisation,Contrat,Description,Nom du site,Lien du site,Experience,Salaire
0,Consultant Data BI Confirmé (H/F),THELIO,BEGLES,CDI,"Selon vos expériences, vous êtes autonome à mi...",France Travail,https://candidat.francetravail.fr/offres/reche...,3 An(s),Annuel de 40000.0 Euros à 55000.0 Euros sur 12...
1,Tech Lead Data (H/F),THELIO,LYON,CDI,Vous maîtrisez aujourd'hui l'entièreté du trai...,France Travail,https://candidat.francetravail.fr/offres/reche...,5 An(s),Annuel de 45000.0 Euros à 55000.0 Euros sur 12...
2,Tech Lead Data (H/F),THELIO,BEGLES,CDI,Vous maîtrisez aujourd'hui l'entièreté du trai...,France Travail,https://candidat.francetravail.fr/offres/reche...,5 An(s),Annuel de 45000.0 Euros à 55000.0 Euros sur 12...
3,Consultant Data BI Confirmé (H/F),THELIO,LYON,CDI,"Selon vos expériences, vous êtes autonome à mi...",France Travail,https://candidat.francetravail.fr/offres/reche...,3 An(s),Annuel de 40000.0 Euros à 55000.0 Euros sur 12...
4,Mesure AFPR-POEI : Délégué / Déléguée à la pro...,{'entrepriseAdaptee': False},Villeurbanne,CDD - 19 Mois,Cette offre concerne une mesure AFPR-POEI,France Travail,https://candidat.francetravail.fr/offres/reche...,Débutant accepté,Mensuel de 1766.92 Euros à 1766.92 Euros sur 1...

In [399]:
# Concatenate dataframes

df = pd.concat([apec, link, pole], ignore_index=True)
df.head()

,Poste,Entreprise,Localisation,Contrat,Description,Nom du site,Lien du site,Experience,Salaire,Teletravail,Date de debut,Date de parution,Secteur d'activite,Descriptif de l'entreprise,Profil recherche,Competences
0,Data engineer,Datatorii,Paris,CDI,MissionVous effectuez des missions à forte val...,APEC,https://www.apec.fr/candidat/recherche-emploi....,Tous niveaux d'expérience acceptés,40 - 65 k€ brut annuel,NaN,Dès que possible,14/06/2024,CONSEIL EN SYSTÈMES ET LOGICIELS INFORMATIQUES,Datatorii est une société de conseil spécialis...,"Formation initialeBAC +5 (Ingénieur, mathémati...",NaN
1,Data analyst,MICHAEL PAGE INTERNATIONAL FRANCE,Rueil-Malmaison,CDI,Le Data Analyst interviendra sur les sujets su...,APEC,https://www.apec.fr/candidat/recherche-emploi....,Aucune expérience exigée,45 - 50 k€ brut annuel,NaN,Dès que possible,20/07/2024,FABRICATION DE PRODUITS PHARMACEUTIQUES DE BASE,Le client est un acteur leader dans le secteur...,Le Data Analyst sera idéalement diplômé d'un B...,NaN
2,Data scientist,MP DATA,Lille,CDI,Nous recherchons un Data scientist (H/F) confi...,APEC,https://www.apec.fr/candidat/recherche-emploi....,Minimum 1 an,A partir de 40 k€ brut annuel,Partiel possible,Dès que possible,18/07/2024,CONSEIL EN SYSTÈMES ET LOGICIELS INFORMATIQUES,MP DATA est une société spécialisée dans l’acq...,"Ingénieur d’une grande école (Centrale, Mines,...",NaN
3,Data analyst,INETUM,Lille,CDI,Dans le cadre de la croissance de notre agence...,APEC,https://www.apec.fr/candidat/recherche-emploi....,Minimum 1 an,36 - 41 k€ brut annuel,Ponctuel autorisé,Dès que possible,15/07/2024,CONSEIL EN SYSTÈMES ET LOGICIELS INFORMATIQUES,Inetum est un leader européen des services num...,"Pour mener à bien votre rôle, il vous faut :• ...",NaN
4,Data engineer,MP DATA,Lille,CDI,Nous recherchons un(e) Data Engineer pour rejo...,APEC,https://www.apec.fr/candidat/recherche-emploi....,Minimum 1 an,A partir de 40 k€ brut annuel,Partiel possible,Dès que possible,18/07/2024,CONSEIL EN SYSTÈMES ET LOGICIELS INFORMATIQUES,MP DATA est une société spécialisée dans l’acq...,· Diplômé(e) ingénieur(e) d’une grande é...,NaN

In [400]:
# Supprimer les doublons en se basant sur le poste, l'entreprise et la ville

df = df.drop_duplicates(subset=['Poste', 'Entreprise', 'Localisation'])

In [401]:
# Remplissage de valeurs manquantes par 'Non renseigné'

df.fillna('Non renseigné', inplace=True)

In [403]:
# Nettoyage de la colonne 'Contrat'

df['Contrat'].fillna('Non renseigné', inplace=True)  

df.loc[df['Contrat'].str.contains('CDD'), 'Contrat'] = 'CDD'
df.loc[df['Contrat'].str.contains('Alternance'), 'Contrat'] = 'Alternance'
df.loc[df['Contrat'].str.contains('intérim'), 'Contrat'] = 'Intérim'
df.loc[df['Contrat'].str.contains('Intérim'), 'Contrat'] = 'Intérim'
df.loc[df['Contrat'].str.contains('CDI'), 'Contrat'] = 'CDI'
df.loc[df['Contrat'].str.contains('Stage'), 'Contrat'] = 'Stage'
df.loc[df['Contrat'].str.contains('durée déterminée'), 'Contrat'] = 'CDD'
df.loc[df['Contrat'].str.contains('durée indéterminée'), 'Contrat'] = 'CDI'

df['Contrat'] = df['Contrat'].str.replace('MIS', 'Intérim', regex=False)
df['Contrat'] = df['Contrat'].str.replace('Temps partiel', 'CDI', regex=False)

df['Contrat'].value_counts()

Contrat
CDI              468
CDD               50
Non renseigné     16
Intérim            9
Alternance         8
Name: count, dtype: int64

In [406]:
# Nettoyage de la colonne 'Localisation'

df['Localisation'].fillna('', inplace=True) 
df.loc[df['Localisation'].str.contains('Paris'), 'Localisation'] = 'Paris'
df.loc[df['Localisation'].str.contains('  PARIS'), 'Localisation'] = 'Paris'

df.loc[df['Localisation'].str.contains('Lyon'), 'Localisation'] = 'Lyon'
df.loc[df['Localisation'].str.contains('  LYON'), 'Localisation'] = 'Lyon'

df['Localisation'].value_counts()

Localisation
Paris                                  119
Lyon                                    35
Lille                                   16
Boulogne-Billancourt                    13
Levallois-Perret                        11
Nantes                                   9
Fontenay-sous-Bois                       9
Aix-en-Provence                          8
Toulouse                                 7
Villeneuve-d'Ascq                        7
Courbevoie                               7
Rennes                                   7
Bordeaux                                 7
France                                   6
  Loire Atlantique                       5
Issy-les-Moulineaux                      5
Strasbourg                               4
  RENNES                                 4
Nanterre                                 4
Massy                                    4
Rueil-Malmaison                          3
Montpellier                              3
Puteaux                                  3
Niort                                    3
  Nord                                   3
Grenoble                                 3
Marseille                                3
  Grenoble                               3
  LILLE                                  3
  VILLEURBANNE                           3
Montbonnot-Saint-Martin                  2
  BOULOGNE BILLANCOURT                   2
Villeurbanne                             2
  NEUILLY SUR SEINE                      2
  REIMS                                  2
Versailles                               2
  Nantes                                 2
Eu                                       2
  LEVALLOIS PERRET                       2
La Défense                               2
  BEGLES                                 2
  VALENCIENNES                           2
  AixenProvence                          2
  NIORT                                  2
Ivry-sur-Seine                           2
  SeineSaintDenis                        2
  RUEIL MALMAISON                        2
Greater Lille Metropolitan Area          2
  ROUBAIX                                2
Gentilly                                 2
  MARSEILLE                              2
  BORDEAUX                               2
Neuilly-sur-Seine                        2
Pantin                                   2
Amiens                                   2
  ANGERS                                 2
Dijon                                    2
Lorient                                  2
Aimargues                                2
Biot                                     2
Saint-Herblain                           2
  Hauts de Seine                         2
Montrouge                                2
Tours                                    2
Vélizy-Villacoublay                      2
Valenciennes                             2
Clermont-Ferrand                         2
  TOUSSUS LE NOBLE                       1
  Dijon                                  1
  LE PUY STE REPARADE                    1
  Montpellier                            1
  BENFELD                                1
  Gironde                                1
  MOUANS SARTOUX                         1
  CHARTRES                               1
  MASSY                                  1
  AFFOUX                                 1
  Courbevoie                             1
  NANTERRE                               1
  LAVAL                                  1
  Champlan                               1
  Rhin (Bas)                             1
  EVRY COURCOURONNES                     1
  Blagnac                                1
  TOURS                                  1
  LESCAR                                 1
  BOVES                                  1
  Loir et Cher                           1
  LEZENNES                               1
  Finistère                              1
  ORLY                                   1
  DIJON                                  1
  CLERMONT FERRAND                       1
  Puteaux                                1
  Villeurbanne                           1
Rodez                                    1
  Tarnos                                 1
  DOMMARTEMONT                           1
  AncenisSaintGéréon                     1
  PUTEAUX                                1
  PERPIGNAN                              1
FRANCE                                   1
  Brest                                  1
  ST DENIS                               1
  TOURCOING                              1
  AULNOY LEZ VALENCIENNES                1
Pusignan                                 1
  MATOURY                                1
  AMIENS                                 1
  Mérignac                               1
  PLOUZANE                               1
  STAINS                                 1
  VELIZY VILLACOUBLAY                    1
  COULOUNIEIX CHAMIERS                   1
  SaintCloud                             1
  Seine et Marne                         1
  Bordeaux                               1
  Obernai                                1
  VERSAILLES                             1
  TOULON                                 1
  Vienne (Haute)                         1
  COLOMBES                               1
  Bouches du Rhône                       1
  Orléans                                1
  ST VALLIER DE THIEY                    1
  ISSY LES MOULINEAUX                    1
  ST LO                                  1
  LE CREUSOT                             1
  GRENOBLE                               1
  ST NAZAIRE                             1
  ROUSSET                                1
  Massy                                  1
  MONTPELLIER                            1
  NANTES                                 1
Bruay-la-Buissière                       1
Villeneuve-d’Ascq                        1
Lamballe                                 1
Marcoussis                               1
Champs-sur-Marne                         1
Maisons-Alfort                           1
Meudon                                   1
Bouguenais                               1
La Crau                                  1
Pontoise                                 1
Éragny                                   1
Guyancourt                               1
Laval                                    1
Cholet                                   1
Nancy                                    1
Limonest                                 1
Saint-Lô                                 1
Charleville-Mézières                     1
Villepinte                               1
Naintré                                  1
Wasquehal                                1
Laon                                     1
Ille-et-Vilaine                          1
Villejuif                                1
Villard-Bonnot                           1
Corsica, France                          1
Brest                                    1
Toulon                                   1
Rousset                                  1
Croix                                    1
Clairac                                  1
La Hague                                 1
Roissy-en-France                         1
Fontaine                                 1
Saclay                                   1
Les Ulis                                 1
Bacouël                                  1
Libourne                                 1
Tourcoing                                1
Béthune                                  1
Saint-Denis                              1
Sèvremoine                               1
Rhône                                    1
Blois                                    1
Fougères                                 1
Bagnols-sur-Cèze                         1
Ariège                                   1
Saint-Georges-du-Bois                    1
Montigny-le-Bretonneux                   1
Arcueil                                  1
Seyne                                    1
Mouans-Sartoux                           1
Valbonne                                 1
Greater Nice Metropolitan Area           1
Bois-Colombes                            1
Greater Bordeaux Metropolitan Area       1
Vernon                                   1
St.-Martin-des-Champs                    1
Angers                                   1
Le Pont-de-Claix                         1
Greater Marseille Metropolitan Area      1
Eybens                                   1
Chambéry                                 1
St.-Ouen                                 1
La Chapelle-Saint-Ursin                  1
Saint-Romain-de-Jalionas                 1
Vallauris                                1
Nîmes                                    1
Bourg-en-Bresse                          1
Occitanie, France                        1
Nouans-les-Fontaines                     1
Nice                                     1
Troyes                                   1
Dommartemont                             1
Pays de la Loire, France                 1
Arleux                                   1
Beaufort-en-Anjou                        1
Seine-et-Marne                           1
Plouvien                                 1
Oissel                                   1
Pessac                                   1
Lacaussade                               1
Cosnac                                   1
Colombes                                 1
Metz                                     1
Saubrigues                               1
Pau                                      1
Île-de-France, France                    1
Wimmenau                                 1
Tomblaine                                1
Fontenay-aux-Roses                       1
Art-sur-Meurthe                          1
  Yvelines                               1
Name: count, dtype: int64

In [407]:
# Nettoyage de la colonne 'Experience' et drop des colonnes avec plus de 2 ans d'expérience

df['Experience'] = df['Experience'].str.replace('Premier emploi', 'Aucune expérience exigée', regex=False)
df['Experience'] = df['Experience'].str.replace('Débutant accepté', 'Aucune expérience exigée', regex=False)
df['Experience'] = df['Experience'].str.replace('Débutant accepté (Débutant)', 'Aucune expérience exigée', regex=False)
df['Experience'] = df['Experience'].str.replace('Stage', 'Aucune expérience exigée', regex=False)
df['Experience'] = df['Experience'].str.replace('Aucune expérience exigée / Alternance', 'Aucune expérience exigée', regex=False)
df['Experience'] = df['Experience'].str.replace('Aucune expérience exigée (Débutant)', 'Aucune expérience exigée', regex=False)
df['Experience'] = df['Experience'].str.replace("Tous niveaux d'expérience acceptés", 'Aucune expérience exigée', regex=False)
df['Experience'] = df['Experience'].str.replace('< 6 mois', 'Aucune expérience exigée', regex=False)

df['Experience'] = df['Experience'].str.replace('> 6 mois', '6 mois', regex=False)
df['Experience'] = df['Experience'].str.replace('Premier emploi', '6 mois', regex=False)
df['Experience'] = df['Experience'].str.replace('Débutant accepté', '6 mois', regex=False)
df['Experience'] = df['Experience'].str.replace('Débutant accepté (Débutant)', '6 mois', regex=False)
df['Experience'] = df['Experience'].str.replace('Stage', '6 mois', regex=False)
df['Experience'] = df['Experience'].str.replace('6 Mois', '6 mois', regex=False)

df['Experience'] = df['Experience'].str.replace('Minimum 1 an', '1 an', regex=False)
df['Experience'] = df['Experience'].str.replace('> 1 an', '1 ans', regex=False)
df['Experience'] = df['Experience'].str.replace('Expérience souhaitée de 1 An(s)', '1 an', regex=False)
df['Experience'] = df['Experience'].str.replace('Expérience exigée de 1 An(s)', '1 an', regex=False)
df['Experience'] = df['Experience'].str.replace('1 An(s)', '1 an', regex=False)
df['Experience'] = df['Experience'].str.replace('1 ans', '1 an', regex=False)

df['Experience'] = df['Experience'].str.replace('Minimum 2 ans', '2 ans', regex=False)
df['Experience'] = df['Experience'].str.replace('2 An(s)', '2 ans', regex=False)
df['Experience'] = df['Experience'].str.replace('Expérience exigée de 2 An(s)', '2 ans', regex=False)
df['Experience'] = df['Experience'].str.replace('Expérience souhaitée de 2 An(s)', '2 ans', regex=False)
df['Experience'] = df['Experience'].str.replace('Expérience souhaitée de 2 ans', '2 ans', regex=False)
df['Experience'] = df['Experience'].str.replace('Expérience exigée de 2 ans', '2 ans', regex=False)

df = df[df['Experience'].isin(['Aucune expérience exigée', '2 ans', '1 an', '6 mois', np.nan])]

df['Experience'].value_counts()

Experience
Aucune expérience exigée    334
2 ans                        83
1 an                         67
6 mois                        1
Name: count, dtype: int64

In [408]:
# Nettoyage de la colonne 'Education'

df['Education'] = df['Education'].str.replace('Bac +5 / Master', 'Bac +5', regex=False)
df['Education'] = df['Education'].str.replace('Bac+5 et plus ou équivalents', 'Bac +5', regex=False)
df['Education'] = df['Education'].str.replace('> Bac +5 / Doctorat', 'Bac +5', regex=False)

df['Education'] = df['Education'].str.replace('Bac+2 ou équivalents', 'Bac +2', regex=False)

df['Education'] = df['Education'].str.replace('Bac+3, Bac+4 ou équivalents', 'Bac +3', regex=False)

df['Education'] = df['Education'].str.replace('Bac +1', 'Bac', regex=False)
df['Education'] = df['Education'].str.replace('Bac ou équivalent', 'Bac', regex=False)

df['Education'] = df['Education'].str.replace('Aucune formation scolaire', 'Sans diplôme', regex=False)

df['Education'].value_counts()

KeyError: 'Education'

In [409]:
# Nettoyage et transformation de la colonne 'Salaire'

df['Salaire'] = df['Salaire'].str.replace('1K à 1,5K € par mois', '12 - 18 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('1K à 1,2K € par mois', '12 - 14 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('20K à 25K €', '20 - 25 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('40 - 40 k€ brut annuel', '40 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('35K à 40K €', '35 - 40 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('700 € par mois', '8 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('900 à 1 000 € par mois', '11 - 12 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('1,3K à 1,6K € par mois', '15 - 19 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('900 à 1 300 € par mois', '11 - 15 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('1,2K à 1,4K € par mois', '12 - 17 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('≥ 1,2K € par mois', '12 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('1K € par mois', '12 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('795 à 1 766 € par mois', '9 - 21 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('900 à 1 400 € par mois', '11 - 17 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('1,3K € par mois', '15 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('1,4K € par mois', '17 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('477 à 1 200 € par mois', '6 - 14 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('48,5K à 54,5K €', '48.5 - 54.5 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('≥ 800 € par mois', '≥ 9.6 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('≥ 42K €', '≥ 42 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('1,4K à 1,7K € par mois', '17 - 20 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('700 à 701 €', '8.4 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('1,1K € par mois', '13.2 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('1,8K € par mois', '21.6 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('≥ 650 € par mois', '≥ 7.8 k€', regex=False)

df['Salaire'] = df['Salaire'].str.replace('Horaire de 19.36 Euros sur 12.0 mois', '32 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Mensuel de 2000.0 Euros sur 12.0 mois', '24 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Mensuel de 3850.00 Euros à 5150.00 Euros sur 13 mois', '46 - 62 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Mensuel de 1000 Euros sur 12 mois', '12 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Mensuel de 795,00 Euros à 1766,00 Euros', '9 - 21 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 30000.0 Euros à 55000.0 Euros sur 12.0 mois', '30 - 55 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 37000.0 Euros à 39000.0 Euros sur 12.0 mois', '37 - 39 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 36000.00 Euros à 38000.00 Euros sur 13 mois', '36 - 38 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 25000.0 Euros à 27000.0 Euros sur 12.0 mois', '25 - 27 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 24000.0 Euros sur 12.0 mois', '24 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 34000.0 Euros sur 12.0 mois', '34 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 38000 Euros à 40000 Euros sur 13 mois', '38 - 40 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 37000.00 Euros sur 12.5 mois', '37 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 38000 Euros à 41000 Euros sur 12 mois', '38 - 41 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 25000 Euros à 27000 Euros sur 12 mois', '25 - 27 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 28000 Euros à 35000 Euros sur 12 mois', '28 - 35 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 35000.0 Euros à 45000.0 Euros sur 12.0 mois', '35 - 45 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 21203.4 Euros sur 13.0 mois', '21 k€', regex=False)
df['Salaire'] = df['Salaire'].str.replace('Annuel de 45000.0 Euros à 47000.0 Euros sur 12.0 mois', '45 - 47 k€', regex=False)

# Nettoyage des formats de salaires pour les rendre uniformes (ex: de '12-15 k€' à '12 - 15 k€')
df['Salaire'] = df['Salaire'].str.replace('k€', '')
df['Salaire'] = df['Salaire'].str.replace('K', '')
df['Salaire'] = df['Salaire'].str.replace(' - ', '-')
df['Salaire'] = df['Salaire'].str.replace('à', '-', regex=True)
df['Salaire'] = df['Salaire'].str.replace('≥ | < | > | ≤', '', regex=True)
df['Salaire'] = df['Salaire'].str.replace('A partir de | brut annuel', '', regex=True)   

# Convertir les salaires en catégories
def categorize_salary(salary):
    try:
        if '-' in salary:
            lower, upper = map(int, salary.split('-'))
            if lower <= 10:
                return '<= 10k€'
            elif 10 < lower <= 15:
                return '10 - 15k€'
            elif 16 <= lower <= 20:
                return '16 - 20k€'
            elif 21 <= lower <= 25:
                return '21 - 25k€'
            elif 26 <= lower <= 30:
                return '26 - 30k€'
            elif 31 <= lower <= 35:
                return '31 - 35k€'
            elif lower > 35:
                return '> 35k€'
        else:
            salary = int(salary)
            if salary <= 10:
                return '<= 10k€'
            elif 10 < salary <= 15:
                return '10 - 15k€'
            elif 16 <= salary <= 20:
                return '16 - 20k€'
            elif 21 <= salary <= 25:
                return '21 - 25k€'
            elif 26 <= salary <= 30:
                return '26 - 30k€'
            elif 31 <= salary <= 35:
                return '31 - 35k€'
            elif salary > 35:
                return '> 35k€'
    except:
        return np.nan

df['Salaire'] = df['Salaire'].apply(categorize_salary)

df = df.rename(columns={'Salaire': 'Salaire annuel brut'})

df['Salaire annuel brut'] .fillna('Non renseigné', inplace=True) 
df['Salaire annuel brut'].value_counts()

Salaire annuel brut
Non renseigné    376
> 35k€            61
26 - 30k€         24
31 - 35k€         18
21 - 25k€          3
10 - 15k€          3
Name: count, dtype: int64

In [411]:
# Nettoyage et transformation de la colonne 'Teletravail'

df['Teletravail'] = df['Teletravail'].str.replace('Télétravail non autorisé', 'Non autorisé', regex=False)
df['Teletravail'] = df['Teletravail'].str.replace('Télétravail fréquent', 'Partiel possible', regex=False)
df['Teletravail'] = df['Teletravail'].str.replace('Télétravail occasionnel', 'Ponctuel autorisé', regex=False)
df['Teletravail'] = df['Teletravail'].str.replace('Télétravail total', 'Total possible', regex=False)

df['Teletravail'].value_counts()

Teletravail
Non renseigné        393
Partiel possible      54
Ponctuel autorisé     25
Non autorisé           9
Total possible         4
Name: count, dtype: int64

In [412]:
# Garder que le premier valeur de la colonne secteur d'activité

df["Secteur d'activite"] = df["Secteur d'activite"].str.replace(' /', ',', regex=False)

def keep_first_value_and_format(text):
    first_value = text.split(',')[0].strip()
    return first_value.capitalize()

# Appliquer la fonction à la colonne 'Skills'
df["Secteur d'activite"] = df["Secteur d'activite"].apply(keep_first_value_and_format)

# Creating a dictionary to regroup sectors into broader categories
mapping_dict = {
    "Technologie et Informatique": [
        "Conseil en systèmes et logiciels informatiques", "Services et conseil en informatique",
        "Programmation informatique", "It", "Logiciels", "Intelligence artificielle", "Application mobile",
        "Technologie", "Saas", "Traitement de données", "Autres activités informatiques",
        "Edition de logiciels applicatifs", "Tierce maintenance de systèmes et d'applications informatiques",
        "Développement de logiciels", "Technologies et services de l’information", "Big data", "Cybersécurité",
        "Objets connectés", "Fabrication d'ordinateurs et d'équipements périphériques", "Produits logiciels d’informatique mobile",
        "Services et conseil en informatique et fabrication de machines industrielles", "Édition de logiciels système et de réseau"
    ],
    "Ingénierie et Fabrication": [
        "Ingénierie", "Ingénieries spécialisées", "Fabrication de produits de consommation courante en matières plastiques",
        "Métallurgie", "Fabrication de préparations pharmaceutiques", "Fabrication de produits pharmaceutiques de base",
        "Electronique", "Construction aéronautique et spatiale", "Fabrication d’équipements médicaux",
        "Fabrication de machines pour l'extraction ou la construction", "Fabrication de machines industrielles",
        "Fabrication de composants pour l’industrie aéronautique et aérospatiale", "Fabrication d’équipements électriques",
        "Fabrication d'appareils électroménagers", "Fabrication d'équipements aérauliques et frigorifiques industriels",
        "Fabrication de machines d’automatisation", "Fabrication de produits chimiques et industrie manufacturière",
        "Fabrication de parfums et de produits pour la toilette", "Fabrication de matériel médico-chirurgical et dentaire",
        "Fabrication d'autres équipements automobiles", "Fabrication de chaussures", "Fabrication de biscuits",
        "Fabrication de glaces et sorbets", "Fabrication de fromage", "Fabrication de sucre"
    ],
    "Services Financiers": [
        "Banque", "Assurance", "Autres assurances", "Services financiers", "Gestion de fonds",
        "Autres activités des services financiers", "Services bancaires", "Activités de banque centrale",
        "Assurance vie", "Autres intermédiations monétaires", "Finance", "Assurances et services financiers",
        "Fonds de placement et entités financières similaires", "Crédit-bail", "Commerce de gros (commerce interentreprises) de produits pharmaceutiques"
    ],
    "Marketing et Médias": [
        "Digital marketing", "Marketing", "Média", "Régie publicitaire de médias", "Services de publicité",
        "Activités des agences de publicité", "Conseil en relations publiques et communication", "Édition de journaux",
        "Adtech", "Édition"
    ],
    "Services Publics et Éducation": [
        "Education", "Enseignement supérieur", "Programmes d’administration de l’éducation",
        "Administration publique", "Administration publique générale", "Administration publique (tutelle) des activités économiques",
        "Affaires étrangères et services publics généraux", "Services d’information", "Activités de pré-presse",
        "Services auxiliaires des transports aériens", "Portails internet", "Services de conseil en environnement",
        "Autres enseignements", "Recherche-développement en sciences humaines et sociales", "Recherche en biotechnologie",
        "Recherche en biotechnologie et fabrication de produits pharmaceutiques", "Activités des agences de voyage",
        "Centrales d'achat alimentaires", "Formation", "Formation continue d'adultes"
    ],
    "Santé et Travail Social": [
        "Santé", "Activités hospitalières", "Hébergement médicalisé pour personnes âgées",
        "Hébergement médicalisé pour enfants handicapés", "Activité des médecins généralistes",
        "Services funéraires", "Hébergement social pour handicapés mentaux et malades mentaux", "Pharmaceutique"
    ],
    "Commerce de Détail et Services": [
        "Grande distribution", "Restauration de type rapide", "Hôtellerie", "Commerce de gros d'équipements automobiles",
        "Commerce de détail d'habillement en magasin spécialisé", "Autres commerces de détail spécialisés divers",
        "Commerce de voitures et de véhicules automobiles légers", "Commerce de gros (commerce interentreprises) non spécialisé",
        "Commerce de détail de jeux et jouets en magasin spécialisé", "Hypermarchés", "Supérettes",
        "Autres commerces de détail en magasin non spécialisé", "Autres commerces de détail alimentaires en magasin spécialisé",
        "Commerce de gros (commerce interentreprises) de fournitures pour la plomberie et le chauffage",
        "Commerce de gros (commerce interentreprises) de fruits et légumes", "Commerce de gros (commerce interentreprises) de produits laitiers",
        "Commerce de gros (commerce interentreprises) de céréales", "Commerce de gros (commerce interentreprises) de combustibles et de produits annexes",
        "Commerce de gros (commerce interentreprises) de composants et d'équipements électroniques et de télécommunication",
        "Commerce de gros (commerce interentreprises) de sucre", "Commerce de gros (commerce interentreprises) d'autres biens domestiques",
        "E-commerce", "Vente à distance sur catalogue général"
    ],
    "Transport et Logistique": [
        "Logistique", "Transport", "Services auxiliaires des transports terrestres", "Transports maritimes et côtiers de passagers",
        "Transport ferroviaire interurbain de voyageurs", "Transports aériens de fret", "Construction de bateaux de plaisance",
        "Construction de navires et de structures flottantes"
    ],
    "Sécurité et Défense": [
        "Défense", "Activités générales de sécurité sociale", "Activités liées aux systèmes de sécurité",
        "Fabrication d'autres fils et câbles électroniques ou électriques", "Fabrication de produits explosifs"
    ],
    "Ressources Humaines": [
        "Activités des agences de travail temporaire", "Activités des agences de placement de main-d'oeuvre",
        "Recrutement et placement de personnel", "Recrutement", "Ressources humaines", "Services de ressources humaines",
        "Autre mise à disposition de ressources humaines"
    ],
    "Immobilier": [
        "Activités des sièges sociaux", "Administration d'immeubles et autres biens immobiliers", "Agences immobilières",
        "Location de logements", "Immobilier", "Immobilier commercial", "Activités des marchands de biens immobiliers",
        "Location et location-bail de machines de bureau et de matériel informatique", "Promotion immobilière d'autres bâtiments",
        "Location de terrains et d'autres biens immobiliers", "Location de longue durée de voitures et de véhicules automobiles légers",
        "Location et location-bail de machines et équipements pour la construction"
    ],
    "Autres": [
        "Autres activités informatiques", "Autres activités de soutien aux entreprises nca", "Autres activités de poste et de courrier",
        "Autres activités de télécommunication", "Autres services personnels nca", "Autres services de réservation et activités connexes",
        "Autres activités des services financiers", "Autres organisations fonctionnant par adhésion volontaire", "Autres activités manufacturières nca",
        "Autres travaux spécialisés de construction", "Autres intermédiaires du commerce en produits divers"
    ]
}

# Invert the dictionary to map sectors to categories
sector_to_category = {sector: category for category, sectors in mapping_dict.items() for sector in sectors}

# Apply the mapping to the 'Secteur d'activite' column
df["Secteur d'activite"] = df["Secteur d'activite"].map(sector_to_category)
df["Secteur d'activite"] .fillna('Non renseigné', inplace=True)

In [413]:
# Nettoyage et transformation de la colonne 'Date de debut'

# Change 'Non renseigné' par missing value
df['Date de debut'] = df['Date de debut'].replace('Non renseigné', np.nan)

def parse_and_transform_date(date_str):
    if pd.notna(date_str) and ' ' in date_str:
        try:
            date_str = date_str.replace('janvier', '01')
            date_str = date_str.replace('février', '02')
            date_str = date_str.replace('mars', '03')
            date_str = date_str.replace('avril', '04')
            date_str = date_str.replace('mai', '05')
            date_str = date_str.replace('juin', '06')
            date_str = date_str.replace('juillet', '07')
            date_str = date_str.replace('août', '08')
            date_str = date_str.replace('septembre', '09')
            date_str = date_str.replace('octobre', '10')
            date_str = date_str.replace('novembre', '11')
            date_str = date_str.replace('décembre', '12')
            
            parsed_date = datetime.strptime(date_str, '%d %m %Y').strftime('%d/%m/%Y')
            return parsed_date
        except ValueError:
            return date_str
    else:
        return date_str

df['Date de debut'] = df['Date de debut'].apply(parse_and_transform_date)

In [414]:
# Nettoyage et transformation de la colonne 'Date de parution'

df['Date de parution'] = df['Date de parution'].replace('Non renseigné', np.nan)

df['Date de parution'] = df['Date de parution'].apply(parse_and_transform_date)

def parse_date(date_str):
    try:
        parsed_date = parse(date_str, dayfirst=True)
        return parsed_date.strftime('%d/%m/%Y')
    except:
        return pd.NaT

df['Date de parution'] = df['Date de parution'].apply(parse_date)

In [415]:
# Division de titres en métiers plus prrécis

keywords = {
    'Data Analyst': ['analyst', 'analysis', 'analytics', 'bi', 'analyse', 'données', 'donée', 'dataviz', 'analytique'],
    'Data Scientist': ['scientist', 'science', 'machine learning', 'ml', 'ai', 'artificial intelligence', 'intelligence artificielle', 'ia'],
    'Data Business': ['business', 'strategist', 'strategy', 'consultant', 'analytics manager'],
    'Data Engineer': ['engineer', 'engineering', 'etl', 'data pipeline', 'data warehousing', 'architect', 'ingénieur', 'ingenieur', 'intégration', 'intégrateur', 'deep learning'],
    'Manager Data': ['manager', 'director', 'head of', 'chief', 'leader', 'management', 'gestion', 'master', 'responsable'],
    'Chef de projet data': ['chef de projet', 'chef', 'projet', 'owner', 'scrum'],
    'Développeur Data': ['développeur'],
    'Data quality': ['quality', 'qualité', 'auditeur', 'audit'],
    'Staticticien': ['statisticien', 'statistiques', 'statistique', 'statisticien(ne)'],
}

# Fonction pour attribuer une catégorie basée sur le job_title
def categorize_job(title):
    title = title.lower()
    for category, words in keywords.items():
        if any(word in title for word in words):
            return category
    return 'Other'

# Créer une nouvelle colonne job_cluster
df['Job category'] = df['Poste'].apply(categorize_job)

# Vérifier et supprimer les 'other' métiers s'ils correspondent pas
df = df.loc[~df['Job category'].str.contains('Other')]

In [418]:
# Définir les mappings pour regrouper les termes similaires

skill_mappings = {
    "Analyse": ["Analysis", "Analytics", "Analyse"],
    "Machine learning": ["Apprentissage Automatique", "Machine learning", "ML"],
    "Intelligence Artificielle": ["Intelligence Artificielle", "IA", "AI", "Artificial Intelligence"]
}

# Créer une table de correspondance inverse pour la recherche rapide
reverse_skill_mappings = {term: main for main, variations in skill_mappings.items() for term in variations}

# Définir les soft skills et hard skills en utilisant des listes prédéfinies
soft_skills = [
    "Communication", "Innovation", "Collaboration", "Autonomie", "Curiosité", "Efficacité", "Gestion de Projet",
    "Initiative", "Leadership", "Motivation", "Flexibilité", "Créativité", "Adaptabilité", "Prise de Décision",
    "Négociation", "Gestion des Risques", "Résolution de Problèmes", "Priorisation", "Résilience", "Communication Orale",
    "Travail d'Équipe", "Ouverture d'Esprit", "Communication Écrite", "Compétences Analytiques", "Diplomatie", "Indépendance",
    "Empathie", "Persuasion", "Gestion du Temps", "Attention aux Détails", "Écoute Active", "Gestion des Tâches",
    "Gestion d'Équipe", "Coordination de Projet", "Apprentissage Continu", "Compétences Organisationnelles", 
    "Prise de Décision Stratégique", "Désir d'Apprendre", "Leadership d'Équipe", "Pensée Analytique", 
    "Collaboration en Équipe", "Construction de Relations", "Gestion de la Pression", "Compétences en Présentation",
    "Pensée Critique", "Interprétation de Données"
]

hard_skills = [
    "Analysis", "Analytics", "Dataviz", "Analyse", "SQL", "Excel", "Tableau", "Power BI", "R", "Python", "Analyse de Données",
    "Apprentissage Automatique", "Gestion de Projet", "Nettoyage de Données", "Visualisation de Données", "Google Analytics", "scikit-learn",
    "TensorFlow", "Keras", "Deep learning", "Traitement du Langage Naturel", "NLP", "Data mining", "Big Data", "Hadoop", "Spark",
    "Outils BI", "CRM", "Modélisation des Processus Métier", "Entrepôt de Données", "Data warehouse", 
    "Datalake", "ETL", "Flux de Données", "Data pipelines", "Plateformes Cloud", "AWS", "Azure", "GCP", "Architecture de Données",
    "Gouvernance des Données", "Gestion des Risques", "KPI", "Méthodologies Agiles", "Intégration", 
    "Data integration", "Audit", "Assurance Qualité", "QA", "Validation des Données", "Traçabilité des Données",
    "Analyse de Régression", "Analyse des Séries Chronologiques", "Analyse Statistique", "Processus ETL", 
    "API", "Machine learning", "ML", "AI", "Artificial Intelligence", "Intelligence Artificielle", "IA"
]

# Extraire les skills
def extract_skills(text, skills_list):
    if pd.isna(text):
        return set()
    found_skills = set()
    text_lower = text.lower()
    for skill in skills_list:
        if re.search(r'\b' + re.escape(skill.lower()) + r'\b', text_lower, re.IGNORECASE):
            found_skills.add(skill)
    # Normaliser les compétences trouvées en utilisant le mapping inverse
    normalized_skills = {reverse_skill_mappings.get(skill, skill) for skill in found_skills}
    return normalized_skills

def combine_skills(description, profile, competences, skills_list):
    combined_skills = (extract_skills(description, skills_list) |
                       extract_skills(profile, skills_list) |
                       extract_skills(competences, skills_list))
    return ", ".join(sorted(combined_skills))

# Créer de nouvelles colonnes pour les hard skills et soft skills en extrayant depuis 'Description', 'Profil recherche' et 'Competences'
df['Hard Skills'] = df.apply(lambda row: combine_skills(row['Description'], row['Profil recherche'], row['Competences'], hard_skills), axis=1)
df['Soft Skills'] = df.apply(lambda row: combine_skills(row['Description'], row['Profil recherche'], row['Competences'], soft_skills), axis=1)

df['Hard Skills'] = df['Hard Skills'].replace('', 'Non renseigné')
df['Soft Skills'] = df['Soft Skills'].replace('', 'Non renseigné')

In [417]:
df.head()

,Poste,Entreprise,Localisation,Contrat,Description,Nom du site,Lien du site,Experience,Salaire annuel brut,Teletravail,Date de debut,Date de parution,Secteur d'activite,Descriptif de l'entreprise,Profil recherche,Competences,Job category,Hard Skills,Soft Skills
0,Data engineer,Datatorii,Paris,CDI,MissionVous effectuez des missions à forte val...,APEC,https://www.apec.fr/candidat/recherche-emploi....,Aucune expérience exigée,> 35k€,Non renseigné,Dès que possible,14/06/2024,Technologie et Informatique,Datatorii est une société de conseil spécialis...,"Formation initialeBAC +5 (Ingénieur, mathémati...",Non renseigné,Data Engineer,"Analyse, Azure, ETL, Gestion de Projet, Proces...",Gestion de Projet
1,Data analyst,MICHAEL PAGE INTERNATIONAL FRANCE,Rueil-Malmaison,CDI,Le Data Analyst interviendra sur les sujets su...,APEC,https://www.apec.fr/candidat/recherche-emploi....,Aucune expérience exigée,> 35k€,Non renseigné,Dès que possible,20/07/2024,Ingénierie et Fabrication,Le client est un acteur leader dans le secteur...,Le Data Analyst sera idéalement diplômé d'un B...,Non renseigné,Data Analyst,"API, AWS, Analyse, Azure, KPI, Outils BI",Collaboration
2,Data scientist,MP DATA,Lille,CDI,Nous recherchons un Data scientist (H/F) confi...,APEC,https://www.apec.fr/candidat/recherche-emploi....,1 an,> 35k€,Partiel possible,Dès que possible,18/07/2024,Technologie et Informatique,MP DATA est une société spécialisée dans l’acq...,"Ingénieur d’une grande école (Centrale, Mines,...",Non renseigné,Data Scientist,"Analyse, Deep learning, Keras, Machine learnin...","Autonomie, Collaboration"
3,Data analyst,INETUM,Lille,CDI,Dans le cadre de la croissance de notre agence...,APEC,https://www.apec.fr/candidat/recherche-emploi....,1 an,> 35k€,Ponctuel autorisé,Dès que possible,15/07/2024,Technologie et Informatique,Inetum est un leader européen des services num...,"Pour mener à bien votre rôle, il vous faut :• ...",Non renseigné,Data Analyst,"Excel, SQL, Tableau","Flexibilité, Innovation"
4,Data engineer,MP DATA,Lille,CDI,Nous recherchons un(e) Data Engineer pour rejo...,APEC,https://www.apec.fr/candidat/recherche-emploi....,1 an,> 35k€,Partiel possible,Dès que possible,18/07/2024,Technologie et Informatique,MP DATA est une société spécialisée dans l’acq...,· Diplômé(e) ingénieur(e) d’une grande é...,Non renseigné,Data Engineer,"AWS, Azure, ETL, GCP, SQL",Collaboration

In [419]:
# Tokenizing, supprimer les stopwords, la ponctuation et lemmatization

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import spacy

# Télécharger les ressources nécessaires
nltk.download('punkt')
nltk.download('stopwords')

# Initialize the lemmatizer (not used here for French but useful if needed)
lemmatizer = WordNetLemmatizer()

# Load French stopwords
french_stopwords = set(stopwords.words('french'))

# Load French language model for spaCy
nlp = spacy.load('fr_core_news_sm')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\559816\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\559816\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [420]:
# Définir la faonction pour nrttoyer le texte
def clean_text_french(text):
    if not isinstance(text, str):  # Vérifie si la valeur est une chaîne de caractères
        return ""  # Retourne une chaîne vide si ce n'est pas le cas
    
    # Tokeniser le texte
    doc = nlp(text.lower())
    
    # Retirer la ponctuation et les mots vides (stopwords)
    tokens = [token.text for token in doc if not token.is_stop and not token.is_punct and token.is_alpha]
    
    # Lemmatize (optionnel, si vous préférez utiliser spaCy pour lemmatisation)
    # tokens = [token.lemma_ for token in doc if not token.is_stop and not token.is_punct and token.is_alpha]
    
    return ' '.join(tokens)

# Appliquer la fonction de nettoyage
df['Cleaned_Description'] = df['Description'].apply(clean_text_french)

In [425]:
df_22_07 = pd.read_csv('C:\\Users\\559816\\Documents\\Project 3\\Job-scrapping\\Selenium\\nettoyage\\clean_df_22_07.csv')

df = pd.concat([df, df_22_07], ignore_index=True)

df['Education'].fillna('Non renseigné', inplace=True) 
df['Hard Skills'].fillna('Non renseigné', inplace=True)  
df['Soft Skills'].fillna('Non renseigné', inplace=True)

In [426]:
df.to_csv('clean_df_22_07.csv', index=False)